/*
.views-exposed-widgets{
	background-color: yellow;
}
*/
.node-type-white-diamond #main-wrapper,
.page-fancy-diamond-search #main-wrapper,
.page-diamond-search #main-wrapper{
    width: 960px;
    margin: auto;
}

.clear-content{
    clear: both;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    line-height: 0px;
}


.page-diamond-search .views-exposed-widgets,
.page-fancy-diamond-search .views-exposed-widgets{
    margin: 0px;
}
#views-exposed-form-diamond-search-diamond-search,
#views-exposed-form-fancy-diamond-search-fancy-diamond-search{
    width: 960px;
    font-family: "Open Sans", sans-serif;
}
#views-exposed-form-diamond-search-diamond-search *,
#views-exposed-form-fancy-diamond-search-fancy-diamond-search *{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 20px;
}
/* LARGE */
/************** SHAPE  COLOR CLARITY**************/
/* MAIN WRAPPER */
.views-widget-filter-field_wd_color_value_many_to_one,
.views-widget-filter-field_wd_clarity_value_many_to_one,
.views-widget-filter-field_wd_fancycolor_value_many_to_one,
.views-widget-filter-field_wd_shape_value_many_to_one{
    padding: 17px 23px 5px 17px !important;
    height: 38px;
    width: 620px;
    float: left !important;
    background-color: #F3F5F7;
    border-radius: 4px 0px 0px 0px;
    -moz-border-radius: 4px 0px 0px 0px;
    -webkit-border-radius: 4px 0px 0px 0px;
}
.views-widget-filter-field_wd_color_value_many_to_one,
.views-widget-filter-field_wd_fancycolor_value_many_to_one{
    padding: 11px 23px 11px 17px !important;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.views-widget-filter-field_wd_clarity_value_many_to_one{
    padding: 5px 23px 17px 17px !important;
    border-radius: 0px 0px 0px 4px;
    -moz-border-radius: 0px 0px 0px 4px;
    -webkit-border-radius: 0px 0px 0px 4px;
}
.views-widget-filter-field_wd_color_value_many_to_one .filter-wrapper,
.views-widget-filter-field_wd_clarity_value_many_to_one .filter-wrapper,
.views-widget-filter-field_wd_fancycolor_value_many_to_one .filter-wrapper,
.views-widget-filter-field_wd_shape_value_many_to_one .filter-wrapper{
    background-color: #F3F5F7;
    height: 32px;
    padding: 2px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #D4D7Db;
    -webkit-box-shadow: -1px 1px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: -1px 1px 0px 0px rgba(255,255,255,1);
    box-shadow: -1px 1px 0px 0px rgba(255,255,255,1);
}
/*  MAIN LABELS */
.views-widget-filter-field_wd_color_value_many_to_one label,
.views-widget-filter-field_wd_clarity_value_many_to_one label,
.views-widget-filter-field_wd_fancycolor_value_many_to_one label,
.views-widget-filter-field_wd_shape_value_many_to_one label{
    width: 60px;
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    color: #51565d;
    text-align: left;
    padding: 7px 0px 0px 10px;
    margin: 0px;
    height: 20px;
}
/* INSIDE WRAPPER */
.views-widget-filter-field_wd_color_value_many_to_one .filter-wrapper .views-widget,
.views-widget-filter-field_wd_clarity_value_many_to_one .filter-wrapper .views-widget,
.views-widget-filter-field_wd_fancycolor_value_many_to_one .filter-wrapper .views-widget,
.views-widget-filter-field_wd_shape_value_many_to_one .filter-wrapper .views-widget{
    float: right;
    background-color: #FFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #BFC3C9;
    width: 519px;
    height: 30px;
    overflow: hidden;
}
/******************************************* CLARITY *******************************************/
.views-widget-filter-field_wd_clarity_value_many_to_one .form-checkboxes{
    margin: 0px !important;
    padding: 0px;
}
.views-widget-filter-field_wd_clarity_value_many_to_one .form-item input{
    position: absolute;
    margin-left: -10000px;
}
.views-widget-filter-field_wd_clarity_value_many_to_one .form-item{
    float: left;
    margin: 0px !important;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    border-left: 1px solid #BFC3C9;
    height: 30px;
}
.views-widget-filter-field_wd_clarity_value_many_to_one .form-item:first-child{
    border-left: 0px solid #FFF;
}
.views-widget-filter-field_wd_clarity_value_many_to_one .form-item label{
    display: block;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    height: 25px;
    width: 57px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 10px !important;
    line-height: 20px;
    text-transform: none;
    text-align: center;
    text-shadow: 0px 1px 0px #FFF;
    background: none;
    background-color: #FFF;
    cursor: pointer
}
.views-widget-filter-field_wd_clarity_value_many_to_one .form-item:first-child label{
    width: 55px;
}
.views-widget-filter-field_wd_clarity_value_many_to_one .form-checkboxes .form-item label:hover{
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #bfc3c9));
    background: -webkit-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #bfc3c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfc3c9', GradientType=0 );
}
.views-widget-filter-field_wd_clarity_value_many_to_one .form-checkboxes .form-item.highlight  label{
    background: #bfc3c9;
    background: -moz-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #bfc3c9), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #bfc3c9 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc3c9', endColorstr='#ffffff', GradientType=0 );
}
/******************************************* COLOR *******************************************/
.views-widget-filter-field_wd_color_value_many_to_one .form-checkboxes{
    margin: 0px !important;
    padding: 0px;
}
.views-widget-filter-field_wd_color_value_many_to_one .form-item input{
    position: absolute;
    margin-left: -10000px;
}
.views-widget-filter-field_wd_color_value_many_to_one .form-item{
    float: left;
    margin: 0px !important;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    border-left: 1px solid #BFC3C9;
    height: 30px;
}
.views-widget-filter-field_wd_color_value_many_to_one .form-item:first-child{
    border-left: 0px solid #FFF;
}
.views-widget-filter-field_wd_color_value_many_to_one .form-item label{
    display: block;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    height: 25px;
    width: 51px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 10px !important;
    line-height: 20px;
    text-transform: none;
    text-align: center;
    text-shadow: 0px 1px 0px #FFF;
    background: none;
    background-color: #FFF;
    cursor: pointer
}
.views-widget-filter-field_wd_color_value_many_to_one .form-checkboxes .form-item label:hover{
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #bfc3c9));
    background: -webkit-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #bfc3c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfc3c9', GradientType=0 );
}
.views-widget-filter-field_wd_color_value_many_to_one .form-checkboxes .form-item.highlight  label{
    background: #bfc3c9;
    background: -moz-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #bfc3c9), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #bfc3c9 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc3c9', endColorstr='#ffffff', GradientType=0 );
}
/******************************************* COLOR *******************************************/
.views-widget-filter-field_wd_fancycolor_value_many_to_one .form-checkboxes{
    margin: 0px !important;
    padding: 0px;
}
.views-widget-filter-field_wd_fancycolor_value_many_to_one .form-checkboxes input{
    position: absolute;
    margin-left: -10000px;
}
.views-widget-filter-field_wd_fancycolor_value_many_to_one .form-item{
    float: left;
    width: 31px;
    margin: 0px !important;
    padding: 0px 7px 0px 0px;
    overflow: hidden;
    text-align: center;
    height: 30px;
}
.views-widget-filter-field_wd_fancycolor_value_many_to_one .form-item:first-child{
    border-left: 0px solid #FFF;
    padding-left: 5px;
}
.views-widget-filter-field_wd_fancycolor_value_many_to_one .form-item label{
    display: block;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 15px;
    width: 27px;
    font-size: 0px !important;
    line-height: 0px;
    text-indent: -1500px;
    background-color: #FFF;
    border: 2px solid #FFF;
    overflow: hidden;
    cursor: pointer
}
/* YEllOW */
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Yellow-wrapper label{
    border: 2px solid #F4D757;
    background-color: #F4D757;
}
/* PINK */
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Pink-wrapper label{
    border: 2px solid #FBAAF1;
    background-color: #FBAAF1;
}
/* BLUE */
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Blue-wrapper label{
    border: 2px solid #4A84EF;
    background-color: #4A84EF;
}
/* GREY */
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Gray-wrapper label{
    border: 2px solid #9D9D9D;
    background-color: #9D9D9D;
}
/* RED */
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Red-wrapper label{
    border: 2px solid #FF3C3C;
    background-color: #FF3C3C;
}
/* PURPLE */
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Purple-wrapper label{
    border: 2px solid #C35DF7;
    background-color: #C35DF7;
}
/* ORANGE */
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Orange-wrapper label{
    border: 2px solid #F97865;
    background-color: #F97865;
}
/* GREEN */
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Green-wrapper label{
    border: 2px solid #40Ce65;
    background-color: #40Ce65;
}
/* CONAC */
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Cognac-wrapper label{
    border: 2px solid #E49A59;
    background-color: #E49A59;
}
/* Champage */
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Champagne-wrapper label{
    border: 2px solid #E3D48B;
    background-color: #E3D48B;
}
/* Brown */
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Brown-wrapper label{
    border: 2px solid #8F564D;
    background-color: #8F564D;
}
/* Chameleon */
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Chameleon-wrapper label{
    border: 2px solid #C0CDA6;
    background-color: #C0CDA6;
}

.views-widget-filter-field_wd_fancycolor_value_many_to_one .form-item.highlight label,
.views-widget-filter-field_wd_fancycolor_value_many_to_one .form-item label:hover{
    border: 2px solid #000 !important;
}
/* OTHER */
.views-widget-filter-field_wd_fancycolor_value_many_to_one .form-item#edit-fancycolor-Other-wrapper {
    float: left;
    width: 57px;
    margin: 0px !important;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    border-left: 1px solid #BFC3C9;
    height: 30px;
}
.views-widget-filter-field_wd_fancycolor_value_many_to_one .form-item#edit-fancycolor-Other-wrapper label{
    display: block;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    height: 25px;
    width: 57px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 10px !important;
    line-height: 20px;
    text-transform: none;
    text-align: center;
    text-shadow: 0px 1px 0px #FFF;
    text-indent: inherit;
    border: 0px solid #FFF;
    cursor: pointer
}
.views-widget-filter-field_wd_fancycolor_value_many_to_one .form-item#edit-fancycolor-Other-wrapper label:hover{
    border: 0px solid #FFF !important;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #bfc3c9));
    background: -webkit-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #bfc3c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfc3c9', GradientType=0 );
}
.views-widget-filter-field_wd_fancycolor_value_many_to_one #edit-fancycolor-Other-wrapper.highlight label{
    border: 0px solid #FFF !important;
    background: #bfc3c9;
    background: -moz-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #bfc3c9), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #bfc3c9 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc3c9', endColorstr='#ffffff', GradientType=0 );
}
/******************************************* SHAPES *******************************************/
.views-widget-filter-field_wd_shape_value_many_to_one .form-checkboxes{
    margin: 0px !important;
    padding: 0px;
}
.views-widget-filter-field_wd_shape_value_many_to_one .form-item input{
    position: absolute;
    margin-left: -10000px;
}
.views-widget-filter-field_wd_shape_value_many_to_one .form-item{
    float: left;
    margin: 0px !important;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    height: 30px;
    border-left: 1px solid #BFC3C9;
}
.views-widget-filter-field_wd_shape_value_many_to_one .form-item:first-child{
    border-left: 0px solid #FFF;
}
.views-widget-filter-field_wd_shape_value_many_to_one .form-item label{
    display: block;
    margin: 0px;
    padding: 0px;
    height: 30px;
    width: 41px;
    font-size: 0px !important;
    line-height: 0px;
    text-indent: -1500px;
    overflow: hidden;
    cursor: pointer;
    background: transparent url(../images/shapes.png) no-repeat;
    background-position: -7px -1px;
}
/* Cushion */
.views-widget-filter-field_wd_shape_value_many_to_one #edit-shape-Cushion-wrapper label{
    background-position: -70px -1px;
}
/* Heart */
.views-widget-filter-field_wd_shape_value_many_to_one #edit-shape-Heart-wrapper label{
    background-position: -130px -1px;
}
/* Pear */
.views-widget-filter-field_wd_shape_value_many_to_one #edit-shape-Pear-wrapper label{
    background-position: -190px -1px;
}
/* Emerald */
.views-widget-filter-field_wd_shape_value_many_to_one #edit-shape-Emerald-wrapper label{
    background-position: -250px -1px;
}
/* Asscher */
.views-widget-filter-field_wd_shape_value_many_to_one #edit-shape-Asscher-wrapper label{
    background-position: -313px -1px;
}
/* Marquise */
.views-widget-filter-field_wd_shape_value_many_to_one #edit-shape-Marquise-wrapper label{
    background-position: -374px -1px;
}
/* Oval */
.views-widget-filter-field_wd_shape_value_many_to_one #edit-shape-Oval-wrapper label{
    background-position: -435px -1px;
}
/* Trillion */
.views-widget-filter-field_wd_shape_value_many_to_one #edit-shape-Trillion-wrapper label{
    background-position: -496px -1px;
}
/* Princess */
.views-widget-filter-field_wd_shape_value_many_to_one #edit-shape-Princess-wrapper label{
    background-position: -557px -1px;
}
/* Round */
.views-widget-filter-field_wd_shape_value_many_to_one #edit-shape-Round-wrapper label{
    background-position: -618px -1px;
}

.views-widget-filter-field_wd_shape_value_many_to_one .form-item:hover{
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #bfc3c9));
    background: -webkit-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #bfc3c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfc3c9', GradientType=0 );
}
.views-widget-filter-field_wd_shape_value_many_to_one .form-item.highlight{
    background: #bfc3c9;
    background: -moz-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #bfc3c9), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #bfc3c9 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc3c9', endColorstr='#ffffff', GradientType=0 );
}
/* OTHER */
.views-widget-filter-field_wd_shape_value_many_to_one .form-item#edit-shape-Other-wrapper {
    float: left;
    width: 57px;
    margin: 0px !important;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    border-left: 1px solid #BFC3C9;
    height: 30px;
}
.views-widget-filter-field_wd_shape_value_many_to_one .form-item#edit-shape-Other-wrapper label{
    background: none;
    display: block;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    height: 25px;
    width: 57px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 10px !important;
    line-height: 20px;
    text-transform: none;
    text-align: center;
    text-shadow: 0px 1px 0px #FFF;
    text-indent: inherit;
    border: 0px solid #FFF;
    cursor: pointer
}
.views-widget-filter-field_wd_shape_value_many_to_one .form-item#edit-shape-Other-wrapper label:hover{
    border: 0px solid #FFF !important;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #bfc3c9));
    background: -webkit-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #bfc3c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfc3c9', GradientType=0 );
}
.views-widget-filter-field_wd_shape_value_many_to_one #edit-shape-Other-wrapper.highlight label{
    border: 0px solid #FFF !important;
    background: #bfc3c9;
    background: -moz-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #bfc3c9), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #bfc3c9 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc3c9', endColorstr='#ffffff', GradientType=0 );
}
/******************** SLIDERS *************************/
/* GENERAL SLIDER */
.ui-slider.ui-widget-content{
    border: 0px solid #FFF;
    background: transparent url(../images/slider-base.png) no-repeat;
    height: 6px;
    margin: 0px 30px 10px 30px;
}
.ui-slider.ui-widget-content .ui-slider-range {
    top: 1px;
    height: 4px;
}
.ui-slider.ui-widget-content .ui-widget-header {
    background: transparent url(../images/slider-hover.png) repeat-x;
    color: #ffffff;
    height: 4px;
    font-weight: bold;
}
.ui-slider.ui-widget-content .ui-state-default,
.ui-slider.ui-widget-content .ui-widget-content .ui-state-default {
    border: 0px solid #FFF;
    background: transparent url(../images/slider-handler.png) no-repeat;
}
/* GROUPS */
.ajami-buttons-wrapper,
.views-widget-filter-sell_price,
.views-widget-filter-field_wd_weight_value{
    float: right !important;
    background-color: #F3F5F7;
    width: 299px;
    border-left: 1px solid #FFF;
    padding: 0px !important;
    height: 90px;
    overflow: hidden;
    border-radius: 0px 0px 4px 0px;
    -moz-border-radius: 0px 0px 4px 0px;
    -webkit-border-radius: 0px 0px 4px 0px;
}

.ajami-buttons-wrapper{
    position: relative;
    margin-top: -30px;






    height: 90px;

    padding: 0px !important;
    text-align: center;


}




.page-loose-diamond-search .views-exposed-widget.views-submit-button,
.page-loose-diamond-search .views-exposed-widget.views-reset-button{
    float: none;
    display: inline-block;
    margin: 30px 2px 0px 2px;
    padding: 0px;
}

/*
.page-loose-diamond-search .views-exposed-widget.views-submit-button,
.page-loose-diamond-search .views-exposed-widget.views-reset-button{
float: right;
margin: 10px 0px 0px 5px;
padding: 0px;
}

*/
.views-widget-filter-field_wd_weight_value{
    height: 89px;
    border-bottom: 1px solid #FFF;
    border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
    -webkit-border-radius: 0px 4px 0px 0px;
}



/* LABEL */
.views-widget-filter-sell_price .filter-wrapper Label,
.views-widget-filter-field_wd_weight_value .filter-wrapper Label{
    text-transform: uppercase;
    font-weight: normal;
    color: #51565d;
    text-align: left;
    padding: 0px;
    margin: 12px 25px 0px 25px;
    height: 25px;
    display: block;
}
/* FORM */
.views-widget-filter-sell_price .views-widget,
.views-widget-filter-field_wd_weight_value .views-widget{
    height: 30px;
    margin: 0px 25px;
}
.views-widget-filter-sell_price .views-widget label,
.views-widget-filter-field_wd_weight_value .views-widget label{
    display: none;
}
.views-widget-filter-sell_price .form-item,
.views-widget-filter-field_wd_weight_value .form-item{
    width: 112px;
    float: right;
    margin: 0px;
    padding: 0px;
    height: 30px;
}
.views-widget-filter-sell_price .form-item:first-child,
.views-widget-filter-field_wd_weight_value .form-item:first-child{
    float: left;
}
.views-widget-filter-sell_price .form-item input,
.views-widget-filter-field_wd_weight_value .form-item input{
    border: 1px solid #BFC3C9;
    width: 100px;
    padding: 4px 5px;
    font-size: 12px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    height: 15px
}
/********************* BUTTONS ***********************/


.page-diamond-search .views-exposed-widget.views-submit-button,
.page-diamond-search .views-exposed-widget.views-reset-button,
.page-fancy-diamond-search .views-exposed-widget.views-submit-button,
.page-fancy-diamond-search .views-exposed-widget.views-reset-button{
    float: right;
    margin: 10px 0px 0px 5px;
    padding: 0px;
}
tr.review-button-row input#edit-back,
tr.review-button-row input#edit-submit,
#checkout-form-bottom input#edit-cancel,
#checkout-form-bottom input#edit-continue,


#content-contailer .add-to-cart input.node-add-to-cart,
.section-user input#edit-delete,
.section-user input#edit-submit,
#cart-form-pane input#edit-checkout,
#cart-form-pane input#edit-update,
input.bck-history,
.views_view__diamond_search #views-bulk-operations-submit input,
.views_view__fancy_diamond_search #views-bulk-operations-submit input,

.page-loose-diamond-search .views-exposed-widget.views-submit-button input,
.page-loose-diamond-search .views-exposed-widget.views-reset-button input,

.page-diamond-search .views-exposed-widget.views-submit-button input,
.page-diamond-search .views-exposed-widget.views-reset-button input,
.page-fancy-diamond-search .views-exposed-widget.views-submit-button input,
.page-fancy-diamond-search .views-exposed-widget.views-reset-button input{
    margin: 0px;
    padding: 6px 25px;
    color: #51565D;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border:1px solid #BFC3C9;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #bfc3c9));
    background: -webkit-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #bfc3c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfc3c9', GradientType=0 );
    cursor: pointer;
}

#content-contailer .add-to-cart input.node-add-to-cart{
    margin-bottom: 5px;
    width: 160px
}
input.bck-history{
    width: 160px
}
#content-contailer .add-to-cart input.node-add-to-cart,
.section-user input#edit-submit,
tr.review-button-row input#edit-submit,
#checkout-form-bottom input#edit-continue,
#cart-form-pane input#edit-checkout,
.views_view__diamond_search #views-bulk-operations-submit input,
.views_view__fancy_diamond_search #views-bulk-operations-submit input,

.page-loose-diamond-search .views-exposed-widget.views-submit-button input,
.page-diamond-search .views-exposed-widget.views-submit-button input,
.page-fancy-diamond-search .views-exposed-widget.views-submit-button input{
    color: #FFF;
    border: 1px solid #639BD9;
    background: #86c2fb;
    background: -moz-linear-gradient(top, #86c2fb 0%, #639ad9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #86c2fb), color-stop(100%, #639ad9));
    background: -webkit-linear-gradient(top, #86c2fb 0%, #639ad9 100%);
    background: -o-linear-gradient(top, #86c2fb 0%, #639ad9 100%);
    background: -ms-linear-gradient(top, #86c2fb 0%, #639ad9 100%);
    background: linear-gradient(to bottom, #86c2fb 0%, #639ad9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86c2fb', endColorstr='#639ad9', GradientType=0 );
}

.section-user input#edit-delete:hover,
tr.review-button-row input#edit-back:hover,
#checkout-form-bottom input#edit-cancel:hover,
#cart-form-pane input#edit-update:hover,
input.bck-history:hover,

.page-loose-diamond-search .views-exposed-widget.views-submit-button input:hover,
.page-loose-diamond-search .views-exposed-widget.views-reset-button input:hover,
.page-diamond-search .views-exposed-widget.views-reset-button input:hover,
.page-fancy-diamond-search .views-exposed-widget.views-reset-button input:hover{
    background: #bfc3c9;
    background: -moz-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #bfc3c9), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #bfc3c9 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc3c9', endColorstr='#ffffff', GradientType=0 );
}

#content-contailer .add-to-cart input.node-add-to-cart:hover,
.section-user input#edit-submit:hover,
tr.review-button-row input#edit-submit:hover,
#checkout-form-bottom input#edit-continue:hover,
#cart-form-pane input#edit-checkout:hover,
.views_view__diamond_search #views-bulk-operations-submit input:hover,
.views_view__fancy_diamond_search #views-bulk-operations-submit input:hover,
.page-loose-diamond-search .views-exposed-widget.views-submit-button input:hover,
.page-diamond-search .views-exposed-widget.views-submit-button input:hover,
.page-fancy-diamond-search .views-exposed-widget.views-submit-button input:hover{
    background: #639ad9;
    background: -moz-linear-gradient(top, #639ad9 0%, #86c2fb 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #639ad9), color-stop(100%, #86c2fb));
    background: -webkit-linear-gradient(top, #639ad9 0%, #86c2fb 100%);
    background: -o-linear-gradient(top, #639ad9 0%, #86c2fb 100%);
    background: -ms-linear-gradient(top, #639ad9 0%, #86c2fb 100%);
    background: linear-gradient(to bottom, #639ad9 0%, #86c2fb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#639ad9', endColorstr='#86c2fb', GradientType=0 );
}
/********************* FIELDSET **********************/
/* WHITE */

html.js .page-loose-diamond-search fieldset,
html.js .page-diamond-search fieldset,
html.js .page-fancy-diamond-search fieldset{
    padding: 5px 0px 10px 0px;
    margin-bottom: 20px;
}
html.js .page-loose-diamond-search fieldset.collapsible,
html.js .page-diamond-search fieldset.collapsible,
html.js .page-fancy-diamond-search fieldset.collapsible{
    border: 0px solid #000;
    background-color: #F3F5F7;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}
html.js .page-loose-diamond-search fieldset.collapsed,
html.js .page-diamond-search fieldset.collapsed,
html.js .page-fancy-diamond-search fieldset.collapsed{
    border: 0px solid #FFF;
    padding: 0px;
    border-top: 1px solid #B7BBC0;
    background: transparent;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
}
.page-loose-diamond-search .fieldset-wrapper,
.page-diamond-search fieldset .fieldset-wrapper,
.page-fancy-diamond-search fieldset .fieldset-wrapper{
    margin: 5px 10px;
}
.page-loose-diamond-search fieldset legend,
.page-diamond-search fieldset legend,
.page-fancy-diamond-search fieldset legend {
    padding: 5px 15px 5px 0px;
}
.page-loose-diamond-search fieldset legend a,
.page-diamond-search fieldset legend a,
.page-fancy-diamond-search fieldset legend a{
    color: #0873BD;
    font-size: 14px !important;
    text-decoration: none;
    text-transform: uppercase;
}
html.js .page-loose-diamond-search fieldset.collapsible legend,
html.js .page-diamond-search fieldset.collapsible legend,
html.js .page-fancy-diamond-search fieldset.collapsible legend {
    background-color: #F3F5F7;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 0px solid #000000;
    padding-left: 6px
}
html.js .page-loose-diamond-search fieldset.collapsible.collapsed legend,
html.js .page-fancy-diamond-search fieldset.collapsible.collapsed legend,
html.js .page-diamond-search fieldset.collapsible.collapsed legend{
    background-color: #FFF;
    padding-left: 0px
}
/************ ADVANCED SEARCH ********************/

.views-widget-filter-field_wd_lab_value_many_to_one,
.views-widget-filter-field_wd_cut_value_many_to_one,
.views-widget-filter-field_wd_fluor_int_value_many_to_one,
.views-widget-filter-field_wd_fancyintense_value_many_to_one,
.views-widget-filter-field_wd_symmetry_value_many_to_one,
.views-widget-filter-field_wd_polish_value_many_to_one{
    margin: 0px 5px 10px 5px !important;
    padding: 0px !important;
    height: 38px;
    width: 330px;
    float: left !important;
}
.views-widget-filter-field_wd_lab_value_many_to_one{
    width: 388px;
}
.views-widget-filter-field_wd_fancyintense_value_many_to_one{
    width: 530px;
}
.views-widget-filter-field_wd_fluor_int_value_many_to_one{
    width: 430px;
}
.views-widget-filter-field_wd_lab_value_many_to_one .filter-wrapper,
.views-widget-filter-field_wd_cut_value_many_to_one .filter-wrapper,
.views-widget-filter-field_wd_fluor_int_value_many_to_one .filter-wrapper,
.views-widget-filter-field_wd_fancyintense_value_many_to_one .filter-wrapper,
.views-widget-filter-field_wd_symmetry_value_many_to_one .filter-wrapper,
.views-widget-filter-field_wd_polish_value_many_to_one .filter-wrapper{
    background-color: #F3F5F7;
    height: 32px;
    padding: 2px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #D4D7Db;
    -webkit-box-shadow: -1px 1px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: -1px 1px 0px 0px rgba(255,255,255,1);
    box-shadow: -1px 1px 0px 0px rgba(255,255,255,1);
}
/*  MAIN LABELS */
.views-widget-filter-field_wd_lab_value_many_to_one label,
.views-widget-filter-field_wd_cut_value_many_to_one label,
.views-widget-filter-field_wd_fluor_int_value_many_to_one label,
.views-widget-filter-field_wd_fancyintense_value_many_to_one label,
.views-widget-filter-field_wd_symmetry_value_many_to_one label,
.views-widget-filter-field_wd_polish_value_many_to_one label{
    width: 75px;
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    color: #51565d;
    text-align: left;
    padding: 7px 0px 0px 10px;
    margin: 0px;
    height: 20px;
}
.views-widget-filter-field_wd_fluor_int_value_many_to_one label,
.views-widget-filter-field_wd_fancyintense_value_many_to_one label{
    width: 120px;
}
/* INSIDE WRAPPER */
.views-widget-filter-field_wd_lab_value_many_to_one .filter-wrapper .views-widget,
.views-widget-filter-field_wd_cut_value_many_to_one .filter-wrapper .views-widget,
.views-widget-filter-field_wd_fluor_int_value_many_to_one .filter-wrapper .views-widget,
.views-widget-filter-field_wd_fancyintense_value_many_to_one .filter-wrapper .views-widget,
.views-widget-filter-field_wd_symmetry_value_many_to_one .filter-wrapper .views-widget,
.views-widget-filter-field_wd_polish_value_many_to_one .filter-wrapper .views-widget{
    float: right;
    background-color: #FFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #BFC3C9;
    width: 231px;
    height: 30px;
    overflow: hidden;
}
.views-widget-filter-field_wd_lab_value_many_to_one .filter-wrapper .views-widget{
    width: 289px;
}
.views-widget-filter-field_wd_fancyintense_value_many_to_one .filter-wrapper .views-widget{
    width: 383px;
}
.views-widget-filter-field_wd_fluor_int_value_many_to_one .filter-wrapper .views-widget{
    width: 289px;
}
/******************************************* POLISH *******************************************/
.views-widget-filter-field_wd_lab_value_many_to_one .form-checkboxes,
.views-widget-filter-field_wd_cut_value_many_to_one .form-checkboxes,
.views-widget-filter-field_wd_fluor_int_value_many_to_one .form-checkboxes,
.views-widget-filter-field_wd_fancyintense_value_many_to_one .form-checkboxes,
.views-widget-filter-field_wd_symmetry_value_many_to_one .form-checkboxes,
.views-widget-filter-field_wd_polish_value_many_to_one .form-checkboxes{
    margin: 0px !important;
    padding: 0px;
}
.views-widget-filter-field_wd_lab_value_many_to_one .form-item input,
.views-widget-filter-field_wd_cut_value_many_to_one .form-item input,
.views-widget-filter-field_wd_fluor_int_value_many_to_one .form-item input,
.views-widget-filter-field_wd_fancyintense_value_many_to_one .form-item input,
.views-widget-filter-field_wd_symmetry_value_many_to_one .form-item input,
.views-widget-filter-field_wd_polish_value_many_to_one .form-item input{
    position: absolute;
    margin-left: -10000px;
}
.views-widget-filter-field_wd_lab_value_many_to_one .form-item,
.views-widget-filter-field_wd_cut_value_many_to_one .form-item,
.views-widget-filter-field_wd_fluor_int_value_many_to_one .form-item,
.views-widget-filter-field_wd_fancyintense_value_many_to_one .form-item,
.views-widget-filter-field_wd_symmetry_value_many_to_one .form-item,
.views-widget-filter-field_wd_polish_value_many_to_one .form-item{
    float: left;
    margin: 0px !important;
    padding: 0px;
    overflow: hidden;
    text-align: center;
    border-left: 1px solid #BFC3C9;
    height: 30px;
}
.views-widget-filter-field_wd_lab_value_many_to_one .form-item:first-child,
.views-widget-filter-field_wd_cut_value_many_to_one .form-item:first-child,
.views-widget-filter-field_wd_fluor_int_value_many_to_one .form-item:first-child,
.views-widget-filter-field_wd_fancyintense_value_many_to_one .form-item:first-child,
.views-widget-filter-field_wd_symmetry_value_many_to_one .form-item:first-child,
.views-widget-filter-field_wd_polish_value_many_to_one .form-item:first-child{
    border-left: 0px solid #FFF;
}
.views-widget-filter-field_wd_lab_value_many_to_one .form-item label,
.views-widget-filter-field_wd_cut_value_many_to_one .form-item label,
.views-widget-filter-field_wd_fluor_int_value_many_to_one .form-item label,
.views-widget-filter-field_wd_fancyintense_value_many_to_one .form-item label,
.views-widget-filter-field_wd_symmetry_value_many_to_one .form-item label,
.views-widget-filter-field_wd_polish_value_many_to_one .form-item label{
    display: block;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    height: 25px;
    width: 57px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 10px !important;
    line-height: 20px;
    text-transform: none;
    text-align: center;
    text-shadow: 0px 1px 0px #FFF;
    background: none;
    background-color: #FFF;
    cursor: pointer
}
.views-widget-filter-field_wd_fancyintense_value_many_to_one .form-item label{
    width: 63px;
}
.views-widget-filter-field_wd_lab_value_many_to_one .form-checkboxes .form-item label:hover,
.views-widget-filter-field_wd_cut_value_many_to_one .form-checkboxes .form-item label:hover,
.views-widget-filter-field_wd_fluor_int_value_many_to_one .form-checkboxes .form-item label:hover,
.views-widget-filter-field_wd_fancyintense_value_many_to_one .form-checkboxes .form-item label:hover,
.views-widget-filter-field_wd_symmetry_value_many_to_one .form-checkboxes .form-item label:hover,
.views-widget-filter-field_wd_polish_value_many_to_one .form-checkboxes .form-item label:hover{
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #bfc3c9));
    background: -webkit-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #bfc3c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfc3c9', GradientType=0 );
}
.views-widget-filter-field_wd_lab_value_many_to_one .form-checkboxes .form-item.highlight label,
.views-widget-filter-field_wd_cut_value_many_to_one .form-checkboxes .form-item.highlight label,
.views-widget-filter-field_wd_fluor_int_value_many_to_one .form-checkboxes .form-item.highlight label,
.views-widget-filter-field_wd_fancyintense_value_many_to_one .form-checkboxes .form-item.highlight label,
.views-widget-filter-field_wd_symmetry_value_many_to_one .form-checkboxes .form-item.highlight label,
.views-widget-filter-field_wd_polish_value_many_to_one .form-checkboxes .form-item.highlight label{
    background: #bfc3c9;
    background: -moz-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #bfc3c9), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #bfc3c9 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc3c9', endColorstr='#ffffff', GradientType=0 );
}
/******************************************* ITEMS PER PAGE *******************************************/
.views-exposed-widget.views-widget-per-page{
    padding: 10px 0px;
}
.views-exposed-widget.views-widget-per-page label{
    display: inline;
    font-size: 14px !important;
    color: #7B7D83;
}
.views-exposed-widget.views-widget-per-page select{
    border: 1px solid #BFC3C9;
    width: 60px;
    padding: 4px 5px;
    font-size: 12px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
/******************************************* ITEMS PER PAGE *******************************************/
.views_view__diamond_search .view-header,
.views_view__fancy_diamond_search .view-header{
    padding: 10px 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
/******************************************* TABLE *******************************************/
.views_view__diamond_search .view-content,
.views_view__fancy_diamond_search .view-content {
    margin-bottom: 10px;
}
.views_view__diamond_search .view-content #views-bulk-operations-submit,
.views_view__fancy_diamond_search .view-content #views-bulk-operations-submit{
    margin: 0px;
    padding: 0px;
}
.views_view__diamond_search .view-content .views-node-selector,
.views_view__fancy_diamond_search .view-content .views-node-selector{
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
.views_view__diamond_search #edit-objects-wrapper,
.views_view__fancy_diamond_search #edit-objects-wrapper{
    margin: 0px;
    padding: 1px 7px 7px 7px;
    width: 944px;
    background-color: #EDF0F3;
    background-color: #E2E9EF
}
.views_view__diamond_search #edit-objects-wrapper table *,
.views_view__fancy_diamond_search #edit-objects-wrapper table *{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}
.views_view__diamond_search #edit-objects-wrapper table,
.views_view__fancy_diamond_search #edit-objects-wrapper table{
    width: 944px;
    margin: 0px;
    padding: 0px
}
.views_view__diamond_search #edit-objects-wrapper table tbody,
.views_view__fancy_diamond_search #edit-objects-wrapper table tbody{
    border: 1px solid #FFF
}
.views_view__diamond_search #edit-objects-wrapper tr.even,
.views_view__diamond_search #edit-objects-wrapper tr.odd,
.views_view__fancy_diamond_search #edit-objects-wrapper tr.even,
.views_view__fancy_diamond_search #edit-objects-wrapper tr.odd{
    border-bottom: 1px solid #FFF;
    padding: 2px 0px;
    background-color: #F2F6F9;
}
.views_view__diamond_search #edit-objects-wrapper tr.odd,
.views_view__fancy_diamond_search #edit-objects-wrapper tr.odd{
    background-color: #FBFCFD;
}
.views_view__diamond_search #edit-objects-wrapper tr td,
.views_view__fancy_diamond_search #edit-objects-wrapper tr td{
    border-left: 1px solid #FFF;
    padding: 7px 3px;
    text-align: center;
    color: #51565d;
}
.views_view__diamond_search #edit-objects-wrapper tr td.active,
.views_view__fancy_diamond_search #edit-objects-wrapper tr td.active {
    background-color: #E2E9EF;
}
.views_view__diamond_search #edit-objects-wrapper tr td a,
.views_view__fancy_diamond_search #edit-objects-wrapper tr td a{
    color: #0873BD;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
.views_view__diamond_search #edit-objects-wrapper tr td a:hover,
.views_view__fancy_diamond_search #edit-objects-wrapper tr td a:hover{
    border-bottom: 1px solid #3074A1;
}
.views_view__diamond_search #edit-objects-wrapper tr th,
.views_view__fancy_diamond_search #edit-objects-wrapper tr th{
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 9px 3px;
    text-align: center;
    text-transform: uppercase;
    color: #51565d;
}
.views_view__diamond_search #edit-objects-wrapper tr th a,
.views_view__fancy_diamond_search #edit-objects-wrapper tr th a{
    color: #0873BD;
    text-decoration: none;
}
.views_view__diamond_search #edit-objects-wrapper tr th a:hover,
.views_view__fancy_diamond_search #edit-objects-wrapper tr th a:hover{
    color: #0873BD;
    border-bottom: 1px solid #0873BD
}
.views_view__diamond_search #edit-objects-wrapper tr th.vbo-select-all,
.views_view__fancy_diamond_search #edit-objects-wrapper tr th.vbo-select-all{
    border-left: 0px solid #FFF;
}

/****************************** NODE DIAMOND ******************************/
/***************** TABS *****************/
.node-type-white-diamond .tabs-container{
    width: 960px;
    clear: both;
    padding-top: 20px;
}
.node-type-white-diamond .tabs-container .ui-tabs {
    position: relative;
    padding: 0px;
    /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    zoom: 1;
}
.node-type-white-diamond .tabs-container .ui-tabs .ui-tabs-hide {
    display: none !important;
}
.node-type-white-diamond .tabs-container .ui-tabs .ui-tabs-nav {
    margin: 0px;
    padding: 0px;
    height: 30px;
    border-bottom:1px solid #BFC3C9;
}
.node-type-white-diamond .tabs-container .ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    margin: 0px 2px 0px 0px;
    border-bottom: 0 !important;
    padding: 0px;
    white-space: nowrap;
    height: 30px;
}
.node-type-white-diamond .tabs-container .ui-tabs .ui-tabs-nav li a {
    display: block;
    margin: 0px;
    padding: 6px 20px 0px 20px;
    height: 23px;
    color: #51565D;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-transform: none;
    font-weight: bold;
    text-decoration: none;
    border:1px solid #BFC3C9;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #bfc3c9));
    background: -webkit-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #bfc3c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfc3c9', GradientType=0 );
    cursor: pointer;
}
.node-type-white-diamond .tabs-container .ui-tabs .ui-tabs-nav li a:hover {
    background: #bfc3c9;
    background: -moz-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #bfc3c9), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #bfc3c9 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc3c9', endColorstr='#ffffff', GradientType=0 );
}
.node-type-white-diamond .tabs-container .ui-tabs .ui-tabs-nav li a,
.node-type-white-diamond .tabs-container .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
    cursor: pointer;
}
.node-type-white-diamond .tabs-container .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 2px;
}
.node-type-white-diamond .tabs-container .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.node-type-white-diamond .tabs-container .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.node-type-white-diamond .tabs-container .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
    border-bottom: 1px solid #FFFFFF;
    cursor: text;
    padding-bottom: 0px;
    background:none;
    background-color:#FFF;
    color: #0873BD
}
.node-type-white-diamond .ui-tabs .ui-tabs-panel {
    display: block;
    background: none;
    border: 1px solid #BFC3C9;
    border-top: 0px solid #FFF;
    padding:20px;
    position: relative;
    top: 0px;
}
/***  TAB  INFORMATION   ***/
/*** TAB 1  ***/
.node-type-white-diamond #tabs-1.ui-tabs-panel{

    background-color: #FFF;
    padding-bottom: 20px;
    display: inline-block
}
.node-type-white-diamond #tabs-1 .tab-diam-details-left,
.node-type-white-diamond #tabs-1 .tab-diam-details-right{
    width: 454px;
    display: block;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin-right: 10px;
}
.node-type-white-diamond #tabs-1 .tab-diam-details-right{
    margin-right: 0px;
}
.node-type-white-diamond #tabs-1 .tab-diam-details-row{
    margin: 1px 0px 1px 0px;
    background-color: #F3F5F7;
    border: 1px solid #E3E6E9;
    padding: 7px 10px 7px 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
    color: #51565D
}
.node-type-white-diamond #tabs-1 .tab-diam-details-row a{
    color: #0873BD;
    text-decoration: none;
    font-weight: bold;
}
.node-type-white-diamond #tabs-1 .tab-diam-details-row a:hover{
    border-bottom: 1px solid #0873BD;
}
.node-type-white-diamond #tabs-1 .tab-diam-details-row label{
    color: #51565D;
    display: inline-block;
    width: 160px;
    font-weight: bold;
}
/*** TAB 2  ***/
.node-type-white-diamond #tabs-2{
    padding:20px;
    background-color: #FFF;
}
.node-type-white-diamond #tabs-2 p{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #51565D;
    margin: 0px;
    padding: 0px;
}
.node-type-white-diamond #tabs-2 a{
    display: block;
    padding: 10px 0px 10px 60px;
    color: #0873BD;
    text-transform: none;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: none;
    width: 210px;
    margin: 20px 0px;
}
.node-type-white-diamond #tabs-2 a.gia-link{
    background: transparent url(../images/labs/gia-online.png) no-repeat;
}
.node-type-white-diamond #tabs-2 a.ags-link{
    background: transparent url(../images/labs/ags-online.png) no-repeat;
}
.node-type-white-diamond #tabs-2 a.hrd-link{
    background: transparent url(../images/labs/hrd-online.png) no-repeat;
}
.node-type-white-diamond #tabs-2 a:hover{
    text-decoration: underline;
}
/***** COLUMN LEFT *****/
#d-info-left{
    width: 520px;
    float: left;
}
/* Diamond Structure */
.node-type-white-diamond .diamond-shape-container{
    border: 1px solid #BFC3C9;
    width: 518px;
    overflow: hidden;
    font-size: 9px;
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
}
.node-type-white-diamond .diam-top-view,
.node-type-white-diamond .diam-side-view{
    float: left;
    width: 225px;
    height: 229px;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    font-size: 9px;
    text-align: left;
    display: block;
    position: relative;
    margin: 20px 10px 0px 20px;
}
.node-type-white-diamond .diam-side-view{
    margin: 20px 0px 0px 20px;
    width: 243px;
}
.node-type-white-diamond .diam-side-view div,
.node-type-white-diamond .diam-top-view div{
    padding: 5px;
    position: absolute;
    text-align: center;
    background-color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 9px;
    line-height: 12px;
    font-weight: bold;
    color: #51565D;
}
.node-type-white-diamond #top-view-width{
    top:115px;
    left: 65px;
}
.node-type-white-diamond #top-view-length{
    left: 118px;
    top: 55px;
}
.node-type-white-diamond #side-view-table{
    top:15px;
    left: 65px;
}
.node-type-white-diamond #side-view-girdle{
    left: 160px;
    top: 174px;
    padding: 5px 5px 5px 2px;
    text-align: left;
}
.node-type-white-diamond #side-view-depth{
    left: 0px;
    top: 95px;
}
.node-type-white-diamond #side-view-culet{
    left: 0px;
    top: 174px;
    text-align: right;
    right: 145px;
}
/* Diamond Image */
.d-diamond-image{
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 19px;

}
.d-diamond-image span{
    display: block;
    margin-bottom: 5px;
}
/***** COLUMN RIGHT *****/
#d-info-right{
    width: 420px;
    float: right;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;

}
#d-info-right p{
    margin: 0px 0px 15px 0px
}
h2.diam-short-desc{
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}
#d-info-right .price-ppc{
    font-weight: bold;
    padding: 15px 0px 0px;
    border-top: 1px solid #BFC3C9;
    display: block;
}
#d-info-right #show-cert,
#d-info-right a{
    cursor: pointer;
    color: #0873BD;
    text-decoration: none;
    font-weight: bold;
}
#d-info-right #show-cert:hover,
#d-info-right a:hover{
    text-decoration: underline
}




.node-type-white-diamond ul.links.inline{
    display: block;
    margin: 20px 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
    list-style-type: none;

}
.node-type-white-diamond ul.links.inline li{
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.node-type-white-diamond ul.links.inline li a{
    text-decoration: none;
    color: #0873BD;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-transform: capitalize;
    background: transparent url(../images/arrow.png) no-repeat;
    background-position: 0px 5px;
    padding: 0px 0px 0px 8px
}
.node-type-white-diamond ul.links.inline li a:hover{
    text-decoration: underline;
}


/****** PRINT LINKS ******/
#content-contailer .print-link{
    margin-bottom: 10px;
    display: inline-block;
}
#content-contailer .print-link span{
    margin: 0px 20px 0px 0px
}
#content-contailer .print-link a{
    text-decoration: none;
    color: #0873BD;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-transform: capitalize;
    background: transparent url(../images/arrow.png) no-repeat;
    background-position: 0px 5px;
    padding: 0px 0px 0px 8px;
}
#content-contailer .print-link a:hover{
    text-decoration: underline;
}

#content-contailer #back-history,
#content-contailer .add-to-cart{
    display: inline-block;
    margin-right: 5px
}


/******************************************* SHOPPING CART *******************************************/
/*** TABLE ***/
#cart-form-products{
    margin: 0px;
    padding: 1px 7px 7px 7px;
    width: 944px;
    background-color: #EDF0F3;
    background-color: #E2E9EF;
    border: 0px solid #FFF
}
table.uc-order-history *,
#order-pane-products table *,
#order-pane-order_comments table *,
fieldset#cart-pane table *,
#cart-form-products table *{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}
table.uc-order-history,
fieldset#cart-pane table,
#cart-form-products table{
    width: 944px;
    margin: 0px;
    padding: 0px
}
table.uc-order-history,
#order-pane-products table,
#order-pane-order_comments table,
fieldset#cart-pane table{
    width: 960px;
    background-color: #E2E9EF;
    border: 8px solid #E2E9EF;
    border-top: 1px solid #E2E9EF;
}
#order-pane-products table,
#order-pane-order_comments table{
    margin: 0px
}

#order-pane-products table tbody,
#order-pane-order_comments table tbody,
fieldset#cart-pane table tbody,
#cart-form-products table tbody{
    border: 1px solid #FFF
}
table.uc-order-history tr.even,
table.uc-order-history tr.odd,
#order-pane-products tr.even,
#order-pane-order_comments tr.even,
#order-pane-products tr.odd,
#order-pane-order_comments tr.odd,
fieldset#cart-pane tr.even,
fieldset#cart-pane tr.odd,
#cart-form-products tr.even,
#cart-form-products tr.odd{
    border-bottom: 1px solid #FFF;
    padding: 2px 0px;
    background-color: #F2F6F9;
}
table.uc-order-history tr.odd,
#order-pane-products tr.odd,
#order-pane-order_comments tr.odd,
fieldset#cart-pane tr.odd,
#cart-form-products tr.odd{
    background-color: #FBFCFD;
}
table.uc-order-history tr td,
#order-pane-products tr td,
#order-pane-order_comments tr td,
fieldset#cart-pane tr td,
#cart-form-products tr td{
    border-left: 1px solid #FFF;
    padding: 5px 8px;
    text-align: left;
    color: #51565d;
    vertical-align: middle;
}
table.uc-order-history tr td{
    border:  1px solid #FFF;
}

fieldset#cart-pane tr td.subtotal,
#cart-form-products tr td.subtotal{
    text-align: right
}
table.uc-order-history tr td.active,
#cart-form-products tr td.active {
    background-color: #E2E9EF;
}
table.uc-order-history tr td a,
#cart-form-products tr td a{
    color: #0873BD;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
table.uc-order-history tr td a:hover,
#cart-form-products tr td a:hover{
    border-bottom: 1px solid #3074A1;
}
#cart-form-products tr td input{
    margin: 0px;
    padding: 4px 10px;
    color: #51565D;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border:1px solid #BFC3C9;
    color: #FFF;
    border: 1px solid #639BD9;
    background: #86c2fb;
    background: -moz-linear-gradient(top, #86c2fb 0%, #639ad9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #86c2fb), color-stop(100%, #639ad9));
    background: -webkit-linear-gradient(top, #86c2fb 0%, #639ad9 100%);
    background: -o-linear-gradient(top, #86c2fb 0%, #639ad9 100%);
    background: -ms-linear-gradient(top, #86c2fb 0%, #639ad9 100%);
    background: linear-gradient(to bottom, #86c2fb 0%, #639ad9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86c2fb', endColorstr='#639ad9', GradientType=0 );
    cursor: pointer;
}

#cart-form-products tr td input:hover{
    background: #639ad9;
    background: -moz-linear-gradient(top, #639ad9 0%, #86c2fb 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #639ad9), color-stop(100%, #86c2fb));
    background: -webkit-linear-gradient(top, #639ad9 0%, #86c2fb 100%);
    background: -o-linear-gradient(top, #639ad9 0%, #86c2fb 100%);
    background: -ms-linear-gradient(top, #639ad9 0%, #86c2fb 100%);
    background: linear-gradient(to bottom, #639ad9 0%, #86c2fb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#639ad9', endColorstr='#86c2fb', GradientType=0 );
}
table.uc-order-history tr th,
#order-pane-products tr th,
#order-pane-order_comments tr th,
fieldset#cart-pane tr th,
#cart-form-products tr th{
    border-left: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 8px;
    text-align: left;
    text-transform: uppercase;
    color: #51565d;
}
#order-pane-products tr td,
#order-pane-order_comments tr td,
#order-pane-products tr th,
#order-pane-order_comments tr th{
    padding: 10px;
}
fieldset#cart-pane tr th a,
#cart-form-products tr th a{
    color: #0873BD;
    text-decoration: none;
}
#cart-form-products tr th a:hover{
    color: #0873BD;
    border-bottom: 1px solid #0873BD
}
#cart-form-products tr th:first-child{
    border-left: 0px solid #FFF;
}
.order-pane thead {
    background-color: transparent;
}

/*** BUTTONS ***/
#checkout-form-bottom,
#cart-form-buttons{
    border: 0px solid #FFF;
    margin: 20px 0px;
    padding: 0px
}

#continue-shopping-link{
    margin: 0px;
    padding: 0px;
    left: 0px;
    top:5px;
}
#continue-shopping-link a{
    text-decoration: none;
    color: #0873BD;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-transform: capitalize;
    background: transparent url(../images/arrow.png) no-repeat;
    background-position: 0px 5px;
    padding: 0px 0px 0px 8px
}
#continue-shopping-link a:hover{
    text-decoration: underline;
}
/**** FIELDSET ****/
.section-user fieldset,
.page-cart-checkout fieldset#delivery-pane,
.page-cart-checkout fieldset#payment-pane,
.page-cart-checkout fieldset#comments-pane,
.page-cart-checkout fieldset#billing-pane,
.page-cart-checkout fieldset#customer-pane{
    border: 1px solid #B7BBC0;
    width: 918px;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
}
.section-user fieldset fieldset{
    width: 878px;
}
html.js .section-user fieldset.collapsed,
html.js .page-cart-checkout fieldset#delivery-pane.collapsed,
html.js .page-cart-checkout fieldset#payment-pane.collapsed,
html.js .page-cart-checkout fieldset#comments-pane.collapsed,
html.js .page-cart-checkout fieldset#billing-pane.collapsed,
html.js .page-cart-checkout fieldset#customer-pane.collapsed{
    border: 0px solid #FFF;
    padding: 0px;
    width: 960px;
    border-top: 1px solid #B7BBC0;
    background: transparent;
}
.section-user fieldset legend,
.section-user fieldset legend a,
.page-cart-checkout fieldset legend a,
.page-cart-checkout fieldset legend {
    color: #0873BD;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.section-user fieldset legend a:hover,
.page-cart-checkout fieldset legend a:hover{
    color: #0873bd
}
fieldset#cart-pane{
    border: 0px solid #FFF;
    padding: 0px;
}
fieldset#cart-pane legend{
    color: #71ACEC;
    font-size: 13px !important;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px;
    margin-bottom: 5px;
}
.page-cart-checkout fieldset a{
    color: #71ACEC;
    text-decoration: none;
}
.page-cart-checkout fieldset a:hover{
    color: #0873bd;
    text-decoration: underline;
}
.page-cart-checkout .grippie {
    display: none;
}
.page-cart-checkout fieldset#delivery-pane table tr td.field-label,
.page-cart-checkout fieldset#billing-pane table tr td.field-label{
    width: 120px;
}
.page-cart-checkout fieldset#delivery-pane table tr td,
.page-cart-checkout fieldset#billing-pane table tr td{
    padding: 7px;
}
.page-cart-checkout fieldset#delivery-pane table tr td.field-label,
.page-cart-checkout fieldset#billing-pane table tr td.field-label{
    width: 120px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}
/*** Review order ***/
.page-cart-checkout-review #main table.order-review-table{
    border: 1px solid #E2E9EF;
    width: 960px;
    vertical-align: middle;
    background-color: #FFF
}
.page-cart-checkout-review #main table.order-review-table tr td{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    padding: 8px 10px;
    border: 1px solid #E2E9EF;
}
.page-cart-checkout-review #main table.order-review-table table{
    width: 938px;
    margin-top: 10px
}
.page-cart-checkout-review #main table.order-review-table table tr.even,
.page-cart-checkout-review #main table.order-review-table table tr.odd {
    background-color: #FFF
}
.page-cart-checkout-review #main table.order-review-table tr.pane-title-row td{
    background-color: #E2E9EF;
    color: #51565D;
    font-size: 13px;
    text-transform: uppercase;
}
.page-cart-checkout-review #main table.order-review-table tr.review-button-row td{
    background-color: #E2E9EF;
}
.section-user #main .order-pane,
.section-user #main #order-pane-order_comments,
.section-user#main #order-pane-line_items,
.section-user #main #order-pane-products{
    border: 0px solid #FFF;
    margin: 10px 0px 20px 0px;
    padding: 0px;
    width: 960px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}
.section-user #main .order-pane-title{
    color: #639ad9;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}



/*** TABS ***/
.node-type-white-diamond .tabs-container{
    width: 960px;
    clear: both;
    padding-top: 20px;
}
.node-type-white-diamond .tabs-container .ui-tabs {
    position: relative;
    padding: 0px;
    /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    zoom: 1;
}
.node-type-white-diamond .tabs-container .ui-tabs .ui-tabs-hide {
    display: none !important;
}
.tabs ul.tabs{
    display: block;
    border: 0px solid #FFF;
    width: 960px;
    clear: both;
    margin: 20px 0px 30px 0px;
    padding: 0px;
    height: 30px;
    border-bottom:1px solid #BFC3C9;
}
.tabs ul.tabs li {
    list-style: none;
    float: left;
    margin: 0px 0px 0px 5px;
    border-bottom: 0 !important;
    padding: 0px;
    white-space: nowrap;
    height: 30px;
}
ul.secondary li {
    border: 0px solid #FFF
}
.tabs ul.tabs li a{
    display: block;
    margin: 0px;
    padding: 8px 20px 0px 20px;
    height: 21px;
    color: #51565D;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-transform: none;
    font-weight: bold;
    text-decoration: none;
    border:1px solid #BFC3C9;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #bfc3c9));
    background: -webkit-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #bfc3c9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #bfc3c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfc3c9', GradientType=0 );
    cursor: pointer;
    text-transform: uppercase;
}
.tabs ul.tabs li a:hover {
    background: #bfc3c9;
    background: -moz-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #bfc3c9), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #bfc3c9 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #bfc3c9 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfc3c9', endColorstr='#ffffff', GradientType=0 );
}

.tabs ul.tabs li.active a {
    cursor: text;
    border-bottom: 1px solid #FFF;
    cursor: text;
    padding-bottom: 0px;
    background:none;
    background-color:#FFF;
    color:#0873bd;
}

/******************* PROFILE ************************/

.profile h3{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    border: 0px solid #FFF;
    text-transform: uppercase;
    color: #b7bbc0
}
.profile dl{
    border-bottom: 1px dotted #BFC3C9
}
.section-user input#edit-delete,
.section-user input#edit-submit{
    margin-top: 20px
}
/*****custom by Roman*****/
#print-cert img{
    width:900px !important;
}
.ajax-progress-throbber {
    display: none;
}