@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Override Omega */
/* Include Default Variables & Mixins */
/* End Variables & Mixins */
/*------------------------------------------------
[Table of contents]
0. Reset
1. Global
  1.1. Zones
  1.2. Regions
2. Section header
  2.1. Zone user
    2.1.1. Region user first
    2.1.2. Region user second
  2.2. Zone branding
  2.3. Zone menu
  2.4. Zone header
3. Section content
  3.1. Zone preface
  3.2. Zone content
    3.2.1. Sidebar first
    3.2.2. Content
    3.2.3. Sidebar second
  3.3. Zone postscript
4. Section footer
  4.1. Zone footer
  4.2. Zone footer2
5. Commerce specific
  5.1. Search & Collection page
  5.2. All products page
  5.3. Product page
  5.4. Checkout process
6. Kickstart specific
  6.1. Homepage elements
7. Blog
  7.1. Blog comments
8. User account
------------------------------------------------*/
/**************************************************
* --
* 1. Global
* --
**************************************************/

body {
	background: #fff
}
.responsive-layout-mobile .facetapi-lists {
	display: none;
}
.responsive-layout-mobile .selectnav {
	display: block;
}
#mobile-menu .menu-path-diamond-search, #mobile-menu .menu-path-fancy-diamond-search {
	display: none !important;
}
.prodemo-desktop {
	display: none;
}
#block-menu-menu-build-jewelry .menu li:nth-child(1) {
	display: none;
}
/* User menu */

.block-menu-user-menu .content ul.menu li.first {
	border-right: 1px solid #ffffff;
	/* LTR */
	padding-right: 7px;
/* LTR */ }
.block-menu-user-menu .content ul.menu li.last {
	padding-left: 7px;
/* LTR */ }
.block-menu-user-menu .content ul.menu li a.active {
	background-color: #cecece;
	color: #000;
	text-decoration: none;
}
.block-menu-user-menu .content ul.menu li a.active:hover, .block-menu-user-menu .content ul.menu li a:hover {
	background-color: #717171;
	text-decoration: none;
}
/*******************************************
* 2.1.2. Region user second
*******************************************/
/**
* Cart block
*/
.block-shopping-cart-block .content {
	background-color: #ffffff;
	background-image: url("../images/picto_cart.png");
}
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links {
	background-color: #77B2EE;
}
/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.1. Zone preface
**********************************************/
/**
* Pseudo Breadcrumb
*/
#region-breadcrumb .pseudo-breadcrumb li a {
	background: url("../images/btn_close.png") left center no-repeat;
/* LTR */ }
/**********************************************
* 3.2. Zone content
**********************************************/
.zone-content-wrapper .zone-content {
}
.front .zone-content-wrapper .zone-content {
	padding-top: 0;
}
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Search api facet blocks */
.region-sidebar-first .block-facetapi ul li a.facetapi-inactive {
	padding-left: 0px;
/* LTR */ }
/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
#promotional_banner {
	/* HP blocks: Top advert */
	background-color: #77B2EE;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 5px 10px 20px 10px;
	position: relative;
	top: 0;
}
#promotional_banner .promotional_banner_saving {
	display: block;
	font-size: 28px;
	font-weight: 900;
	line-height: 38px;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
}
#promotional_banner .promotional_banner_special_offer {
	background-color: #FFFFFF;
	border: 1px solid #CCC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	color: #77B2EE;
	font-size: 14px;
	font-weight: 700;
	padding: 4px 12px;
	position: absolute;
	top: 10px;
	right: 10px;
	/* LTR */
	text-transform: capitalize;
}
.block-shipping-discount {
/* HP blocks: Side advert */ }
.block-shipping-discount #shipping {
	background-color: #000000;
	border: 6px solid #ffffff;
	color: #77B2EE;
	display: block;
	font-size: 13px;
	line-height: 24px;
	text-align: center;
	margin-top: 20px;
	padding: 10px 5px 20px 5px;
}
.block-shipping-discount #shipping #shipping_message span {
	border-bottom: 1px solid #ffffff;
	display: block;
	color: white;
	font-size: 20px;
	padding: 10px 0 4px 0;
	text-transform: uppercase;
}
.block-shipping-discount #shipping #shipping_message span em {
	font-size: 27px;
	font-style: normal;
}
.block-shipping-discount #shipping #shipping_currency {
	display: block;
	font-size: 27px;
	margin-top: 2px;
}
.block-shipping-discount #shipping #shipping_message {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}
.block-shipping-discount #shipping #shipping_message span,  .block-shipping-discount #shipping #shipping_message span em,  .block-shipping-discount #shipping #shipping_currency {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}
#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content, #zone-postscript .block-blog-block .views-field-title .field-content {
	border: 1px solid #5f5f5f;
	background: transparent url("../images/bg_ad_push_headline.png") left top;
}
#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content a,  #zone-postscript .block-blog-block .views-field-title .field-content a {
	background: none;
}
#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content a:hover,  #zone-postscript .block-blog-block .views-field-title .field-content a:hover {
	background: transparent url("../images/bg_blog_headline.png") left top;
}
#zone-postscript .view-ad-push .views-row:hover .views-field-field-tagline .field-content a, #zone-postscript .block-blog-block:hover .views-field-title .field-content a {
	background: transparent url("../images/bg_blog_headline.png") left top;
}
/**************************************************
* --
* 4. Section footer
* --
**************************************************/
.section-footer {
	background-color: #3f3f3f;
}
/**********************************************
* 4.1. Zone footer
**********************************************/
.zone-footer-wrapper {
	background-color: #494949;
	border-top: 1px #717171 solid;
	border-bottom: 1px #717171 solid;
}
/**
* Menu footer navigation
*/
.section-footer ul.menu li.expanded span, .section-footer ul.menu li.expanded a {
	color: #ffffff;
}
.section-footer ul.menu li.expanded ul.menu li a {
	color: #c1c1c1;
}
/**
* Connect with us
*/
#block-menu-menu-social-connection h2 {
	background-color: #262626;
	color: #eeeeee;
}
#block-menu-menu-social-connection .content ul.menu li {
	color: #eeeeee;
}
#block-menu-menu-social-connection .content ul.menu li:hover {
	background-color: #cecece;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}
#block-menu-menu-social-connection .content ul.menu li span,  #block-menu-menu-social-connection .content ul.menu li a {
	color: #eeeeee;
}
#block-menu-menu-social-connection .content ul.menu li a.facebook {
	background: url("../images/icon_facebook.png") 2% 50% no-repeat;
/* LTR */ }
#block-menu-menu-social-connection .content ul.menu li a.twitter {
	background: url("../images/icon_twitter.png") 2% 50% no-repeat;
/* LTR */ }
#block-menu-menu-social-connection .content ul.menu li a.pinterest {
	background: url("../images/icon_pinterest.png") 2% 50% no-repeat;
/* LTR */ }
/**********************************************
* 4.2. Zone footer2
**********************************************/
.zone-footer2-wrapper {
	background-color: #3f3f3f;
	color: #eeeeee;
}
/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
.view-collection-taxonomy-term .products-per-collection li header, .page-products .view-display-products li header {
	background: url("../images/bg_product_attributes_top.png") center top no-repeat;
}
.view-collection-taxonomy-term .view-content .item-list {
	clear: both;
}
.view-collection-taxonomy-term .view-content .item-list h3 {
	position: relative;
}
.view-collection-taxonomy-term .view-content .item-list h3 span {
	display: block;
	position: absolute;
	top: 0px;
}
.view-collection-taxonomy-term .view-content .item-list h3 .collection {
	background: url("../images/bg.png") repeat scroll left top #ececec;
	font-size: 0.8em;
	padding: 0 0 4px;
	text-transform: uppercase;
}
.view-collection-taxonomy-term .view-content .item-list h3 .collection a {
	background-color: #FFFFFF;
	color: #B8B8B8;
	display: block;
	padding: 5px;
}
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row {
	display: inline;
	height: auto;
	margin: 0;
	padding-right: 5px;
	/* LTR */
	padding-bottom: 30px;
	width: 230px;
}
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row:nth-child(4n+5) {
	clear: left;
	/* LTR */
	float: left;
/* LTR */ }
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row h2 {
	font-size: 14px;
	height: 35px;
	line-height: 16px;
	margin: 0 4px;
}
/**********************************************
* 5.3. Product page
**********************************************/
/**
* Add to cart popin.
*/
div.messages.commerce-add-to-cart-confirmation {
	background-color: #d6e5ec;
	border-color: #6bb0cb;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
	color: #125AA1;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout {
	background-color: #77B2EE;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue {
	background-color: #b3b3b3;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .commerce-kickstart-add-to-cart-close {
	background: url("../images/btn_add-to-cart-close.png") no-repeat 0 0;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-confirm-message-product-display .view-content {
	margin-left: inherit;
}
/**************************************************
* --
* 8. Comments
* --
**************************************************/
.node-teaser .links.node-links .links .node-readmore a {
	background: transparent url("../images/icon_read-more.png") 95% center no-repeat;
	color: #4386be;
	padding-right: 15px;
/* LTR */ }
.node-teaser .links.node-links .links .comment-comments a {
	background: transparent url("../images/icon_chat.png") 15% center no-repeat;
	padding-left: 20px;
/* LTR */ }
.node-teaser .links.node-links .links .comment-comments a span {
	display: block;
	float: left;
	/* LTR */
	text-indent: -9999px;
}
/**************************************************
* --
* 9. User account
* --
**************************************************/
.not-logged-in #block-connector-one-click-block #edit-oauthconnector-facebook {
	background: url("../images/btn_facebook.png") no-repeat;
}
.not-logged-in #block-connector-one-click-block #edit-oauthconnector-twitter {
	background: url("../images/btn_twitter.png") no-repeat;
}
.not-logged-in #block-connector-one-click-block #edit-oauthconnector-google {
	background: url("../images/btn_google.png") no-repeat;
}
/**Custom mobile*/

.region-inner {
	padding: 0 10px 0 10px;
}
.views-exposed-form .views-exposed-widget {
}
.page-m-diamond-search .view-diamond-search .view-content, .page-m-fancy-diamond-search .view-fancy-diamonds .view-content {
	overflow: scroll;
}
.ui-tabs .ui-tabs-nav li {
	float: none;
	display: inline-block;
	font-weight: 600;
}
.page-node-472 .view-content {
	font-family: "Open Sans", sans-serif;
	text-align: center;
}
.page-node-472 {
	background-image: url(../images/bg2-1.jpg);
	background-repeat: repeat-y;
	background-position: center;
}
.zone-content-wrapper .zone-content {
}
.page-node-472 .views-field-title {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
	border-top: 1px solid rgba(255, 255, 255, 0.14);
	padding-top: 17px;
}
.view-banners .views-field-title a {
	font-weight: bold;
	letter-spacing: 1px;
	color: #FFF !important;
}
.view-banners .views-row {
	margin: 13px 3% 0 3%;
	padding: 10px 10px 10px 10px;
}
.views-field-title {
	height: 36px;
}
.page-node-472 .field-content p {
	color: #FFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}
.front .node {
	border: 0 solid #E0E3E6;
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
.zone-footer-wrapper {
	padding: 20px 0 20px 0;
}
.social {
	float: right;
}
.social a {
	padding: 10px 10px 0 0;
}
.credit p {
	font-size: 12px;
}
.zone-branding .region-branding .logo-img {
	/* text-align: center; */
/*width: 69%;*/
	margin-top: 0px;
}
.zone-branding .region-branding {
	margin: 20px 0 20px 0;
	text-align: -webkit-center;
}
.content clearfix {
	text-align: center;
}
.content #usermenu {
	color: #979797;
	list-style: none;
}
.block-block-9 {
	text-align: center;
}
#usermenu li {
	font-size: 11px;
}
#usermenu li a {
	color: #979797 !important;
}
.mobile-menu-accordion a {
	color: #CDC6B4;
}
.page-node {
	background-image: url(../images/bg2-1.jpg);
	background-repeat: repeat-y;
	background-position: center;
}
.page-node h1#page-title, .page-node h1#page-title {
	font-size: 31px;
	padding-top: 10px;
	text-align: center;
	color: #0099FF;
	font-weight: 100;
}
.team-member p:nth-child(1) {
	color: #0099FF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
	font-weight: bold;
}
.team-member p:nth-child(2) {
	color: #CDCDCD;
	font-style: italic;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}
.team-image {
	padding-top: 40px;
}
.member-details p {
	margin-bottom: 0px;
}
.context-jewelry p {
	color: #6f6f6f;
}
.page-node-175 {
	background-image: url(../images/bg2-1.jpg);
	background-repeat: repeat-y;
	background-position: center;
}
.page-node-175 .field-name-field-webform-top a {
	float: left;
	width: 50%;
	padding: 30px 0 40px 0px;
	text-align: center;
	font-size: 12px;
	color: #C7C5C5;
	opacity: 0.65;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.page-node-175 .field-name-field-webform-top a:hover {
	opacity: 1;
}
.page-node-175 .field-name-field-webform-top img {
	padding: 0px 0 15px 0px;
}
.page-node-175 .field-type-text-with-summary {
	padding: 20px 50px 20px 50px;
	font-weight: 600;
	font-size: 16px;
}
.node-webform .field-items p strong {
	font-weight: 400;
}
.page-node-175 .field-name-body p {
	border-bottom: 1px dotted rgba(194, 194, 194, 0.85);
	padding-bottom: 10px;
	color: #333;
}
.page-node-175 .company-details {
	padding-top: 10px;
	font-size: 14px;
	color: #C7C5C5;
}
textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
	background: rgba(236, 236, 236, 1);
	border: 1px solid rgba(216, 216, 216, 0);
	border-radius: 3px;
	color: #4F4F4F;
	margin: 0px;
	display: inline-block;
	font-family: "Open Sans", sans-serif;
	padding: 5px !important;
	width: auto;
	font-weight: 100;
	font-size: 15px;
}
.form-type-textfield .description {
	color: #6B6868;
}
input[type="submit"] {
	background: #68A6E4;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0);
	font-family: "Open Sans", sans-serif;
	-webkit-appearance: none;
}
input[type="submit"]:hover, #edit-submit-diamond-search:hover, #edit-submit-jewelry-showcase:hover {
	background-color: #3971A9;
}
/*Diamonds*/
.context-contact input[type="submit"], .context-enquire input[type="submit"], .context-let-us-find-your-diamond input[type="submit"], #edit-btn-submit, #edit-btn-cancel {
	width: 125px;
	height: 35px;
}
#edit-btn-cancel {
	margin-left: 10px;
}
.page-node-175 .company-details span {
	margin-left: 5px;
}
/*Filters*/
.page-m-diamond-search .views-exposed-form .views-exposed-widget, .page-m-fancy-diamond-search .views-exposed-form .views-exposed-widget {
	/* float: left; */
	padding: .5em 1em 0 0;
	display: inline-block;
	width: 100%;
}
.page-m-diamond-search .views-exposed-form label, .page-m-fancy-diamond-search .views-exposed-form label {
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 13px;
	color: #153B61;
}
.page-m-diamond-search .form-checkboxes .form-item input, .page-m-fancy-diamond-search .form-checkboxes .form-item input {
	display: none;
}
.page-m-diamond-search .form-checkboxes.highlight label, .page-m-fancy-diamond-search .form-checkboxes.highlight label {
	border: 2px solid #7A7A7A;
	background: #787878;
	background: -moz-linear-gradient(top, #787878 0%, #f9f9f9 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #787878), color-stop(100%, #f9f9f9));
	background: -webkit-linear-gradient(top, #787878 0%, #f9f9f9 100%);
	background: -o-linear-gradient(top, #787878 0%, #f9f9f9 100%);
	background: -ms-linear-gradient(top, #787878 0%, #f9f9f9 100%);
	background: linear-gradient(to bottom, #787878 0%, #f9f9f9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#f9f9f9', GradientType=0 );
}
/*Shape*/	
.page-m-diamond-search .form-item-shape .form-type-bef-checkbox, .page-m-fancy-diamond-search .form-item-shape .form-type-bef-checkbox {
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-decoration: none;
	text-align: center;
border: 1px solid red height: 70px;
	overflow: hidden;
	display: inline-block;
}
.page-m-diamond-search .form-item-shape .form-item label, .page-m-fancy-diamond-search .form-item-shape .form-item label {
	height: 37px;
	margin: 4px;
	padding: 17px 0 4px 0px;
	font-size: 11px;
	display: block;
	text-align: center;
	width: 50px;
	color: #193C61;
	line-height: 62px;
	border-radius: 3px;
	border: 1px solid rgba(23, 59, 96, 0.15);
	font-weight: 600;
}
/*Shape*/
.page-m-diamond-search .form-item-shape .form-item input, .page-m-fancy-diamond-search .form-item-shape .form-item input {
	display: none;
}
.page-m-diamond-search .form-item-edit-shape-round label, .page-m-fancy-diamond-search .form-item-edit-shape-round label {
	background: rgba(255, 255, 255, 0) url(../images/shapes1.png);
	background-position: 0px 0;
}
.page-m-diamond-search .form-item-edit-shape-round.highlight label, .page-m-fancy-diamond-search .form-item-edit-shape-round.highlight label {
	background-position: -0px -58px;
	font-weight: bold;
}
.page-m-diamond-search .form-item-edit-shape-emerald label, .page-m-fancy-diamond-search .form-item-edit-shape-emerald label {
	background: rgba(255, 255, 255, 0) url(../images/shapes1.png);
	background-position: -143px 0;
}
.page-m-diamond-search .form-item-edit-shape-emerald.highlight label, .page-m-fancy-diamond-search .form-item-edit-shape-emerald.highlight label {
	background-position: -143px -58px;
	font-weight: bold;
}
.page-m-diamond-search .form-item-edit-shape-pear label, .page-m-fancy-diamond-search .form-item-edit-shape-pear label {
	background: rgba(255, 255, 255, 0) url(../images/shapes1.png);
	background-position: -383px 0;
}
.page-m-diamond-search .form-item-edit-shape-pear.highlight label, .page-m-fancy-diamond-search .form-item-edit-shape-pear.highlight label {
	background-position: -383px -58px;
	font-weight: bold;
}
.page-m-diamond-search .form-item-edit-shape-marquise label, .page-m-fancy-diamond-search .form-item-edit-shape-marquise label {
	background: rgba(255, 255, 255, 0) url(../images/shapes1.png);
	background-position: -287px 0;
}
.page-m-diamond-search .form-item-edit-shape-marquise.highlight label, .page-m-fancy-diamond-search .form-item-edit-shape-marquise.highlight label {
	background-position: -287px -58px;
	font-weight: bold;
}
.page-m-diamond-search .form-item-edit-shape-princess label, .page-m-fancy-diamond-search .form-item-edit-shape-princess label {
	background: rgba(255, 255, 255, 0) url(../images/shapes1.png);
	background-position: -47px 0;
}
.page-m-diamond-search .form-item-edit-shape-princess.highlight label, .page-m-fancy-diamond-search .form-item-edit-shape-princess.highlight label {
	background-position: -47px -58px;
	font-weight: bold;
}
.page-m-diamond-search .form-item-edit-shape-oval label, .page-m-fancy-diamond-search .form-item-edit-shape-oval label {
	background: rgba(255, 255, 255, 0) url(../images/shapes1.png);
	background-position: -335px 0;
}
.page-m-diamond-search .form-item-edit-shape-oval.highlight label, .page-m-fancy-diamond-search .form-item-edit-shape-oval.highlight label {
	background-position: -335px -58px;
	font-weight: bold;
}
.page-m-diamond-search .form-item-edit-shape-asscher label, .page-m-fancy-diamond-search .form-item-edit-shape-asscher label {
	background: rgba(255, 255, 255, 0) url(../images/shapes1.png);
	background-position: -95px 0;
}
.page-m-diamond-search .form-item-edit-shape-asscher.highlight label, .page-m-fancy-diamond-search .form-item-edit-shape-asscher.highlight label {
	background-position: -95px -58px;
	font-weight: bold;
}
.page-m-diamond-search .form-item-edit-shape-radiant label, .page-m-fancy-diamond-search .form-item-edit-shape-radiant label {
	background: rgba(255, 255, 255, 0) url(../images/shapes1.png);
	background-position: -191px 0;
}
.page-m-diamond-search .form-item-edit-shape-radiant.highlight label, .page-m-fancy-diamond-search .form-item-edit-shape-radiant.highlight label {
	background-position: -191px -58px;
	font-weight: bold;
}
.page-m-diamond-search .form-item-edit-shape-heart label, .page-m-fancy-diamond-search .form-item-edit-shape-heart label {
	background: rgba(255, 255, 255, 0) url(../images/shapes1.png);
	background-position: -431px 0;
}
.page-m-diamond-search .form-item-edit-shape-heart.highlight label, .page-m-fancy-diamond-search .form-item-edit-shape-heart.highlight label {
	background-position: -431px -58px;
	font-weight: bold;
}
.page-m-diamond-search .form-item-edit-shape-cushion-brilliant label, .page-m-fancy-diamond-search .form-item-edit-shape-cushion-brilliant label {
	background: rgba(255, 255, 255, 0) url(../images/shapes1.png);
	background-position: -238px 0;
}
.page-m-diamond-search .form-item-edit-shape-cushion.highlight label, .page-m-fancy-diamond-search .form-item-edit-shape-cushion-brilliant.highlight label {
	background-position: -238px -58px;
	font-weight: bold;
}
.page-m-diamond-search .form-item-edit-shape-cushion label, .page-m-fancy-diamond-search .form-item-edit-shape-cushion label {
	background: rgba(255, 255, 255, 0) url(../images/shapes1.png);
	background-position: -526px 0;
}
.page-m-diamond-search .form-item-edit-shape-cushion.highlight label, .page-m-fancy-diamond-search .form-item-edit-shape-cushion.highlight label {
	background-position: -526px -58px;
	font-weight: bold;
}
/**/
.page-m-diamond-search .views-exposed-form .form-item, .views-exposed-form .form-submit, .page-m-fancy-diamond-search .views-exposed-form .form-item, .views-exposed-form .form-submit {
	float: left;
}
/*Color*/
.page-m-diamond-search .form-item-color .form-type-bef-checkbox {
	padding: 6px 0px;
	text-align: center;
	width: 20%;
	height: 25px;
}
.page-m-diamond-search .form-item-color .form-type-bef-checkbox label, .page-m-diamond-search .form-item-clarity .form-type-bef-checkbox label, .page-m-fancy-diamond-search .form-item-clarity .form-type-bef-checkbox label, .page-m-diamond-search .form-item-cut .form-type-bef-checkbox label, .page-m-fancy-diamond-search .form-item-cut .form-type-bef-checkbox label, .page-m-diamond-search .form-item-polish .form-type-bef-checkbox label, .page-m-fancy-diamond-search .form-item-polish .form-type-bef-checkbox label, .page-m-diamond-search .form-item-symmetry .form-type-bef-checkbox label, .page-m-fancy-diamond-search .form-item-symmetry .form-type-bef-checkbox label, .page-m-diamond-search .form-item-lab .form-type-bef-checkbox label, .page-m-fancy-diamond-search .form-item-lab .form-type-bef-checkbox label {
	background: #C8D1D5;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	padding: 6px 0px;
	margin: 4px;
	font-size: 11px;
	text-align: center;
	transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-webkit-transition: color .25s ease-in-out;
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
	display: block;
}
.page-m-diamond-search .form-item-color {
	float: left;
	width: 100%;
}
.page-m-diamond-search .form-item-color .form-type-bef-checkbox.highlight label, .page-m-diamond-search .form-item-clarity .form-type-bef-checkbox.highlight label, .page-m-fancy-diamond-search .form-item-clarity .form-type-bef-checkbox.highlight label, .page-m-diamond-search .form-item-cut .form-type-bef-checkbox.highlight label, .page-m-fancy-diamond-search .form-item-cut .form-type-bef-checkbox.highlight label, .page-m-diamond-search .form-item-polish .form-type-bef-checkbox.highlight label, .page-m-fancy-diamond-search .form-item-polish .form-type-bef-checkbox.highlight label, .page-m-diamond-search .form-item-symmetry .form-type-bef-checkbox.highlight label, .page-m-fancy-diamond-search .form-item-symmetry .form-type-bef-checkbox.highlight label, .page-m-diamond-search .form-item-lab .form-type-bef-checkbox.highlight label, .page-m-fancy-diamond-search .form-item-lab .form-type-bef-checkbox.highlight label {
	color: #FFFFFF;
	background: #446E9D;
}
/*Clarity*/
.page-m-diamond-search .form-item-clarity .form-type-bef-checkbox, .page-m-fancy-diamond-search .form-item-clarity .form-type-bef-checkbox {
	padding: 6px 0px;
	text-align: center;
	width: 20%;
	height: 25px;
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-type-bef-checkbox {
	padding: 6px 0px;
	text-align: center;
	width: 20%;
	height: 25px;
}
/***************COLORS-TOMER********************/
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-yellow.highlight label {
	color: rgba(136, 108, 0, 1);
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.48);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-yellow label {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	padding: 6px 0px;
	margin: 4px;
	font-size: 10px;
	text-align: center;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.0);
	display: block;
	background: #fbe43c;
	color: rgba(136, 108, 0, 1);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-pink.highlight label {
	color: rgba(124, 23, 59, 1);
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.48);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-pink label {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	padding: 6px 0px;
	margin: 4px;
	font-size: 10px;
	text-align: center;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.0);
	display: block;
	background: #f77aa6;
	color: rgba(124, 23, 59, 1);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-gray.highlight label {
	color: rgba(39, 39, 39, 1);
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.48);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-gray label {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	padding: 6px 0px;
	margin: 4px;
	font-size: 10px;
	text-align: center;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.0);
	display: block;
	background: #858585;
	color: rgba(39, 39, 39, 1);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-blue.highlight label {
	color: rgba(153, 215, 255, 1);
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.48);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-blue label {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	padding: 6px 0px;
	margin: 4px;
	font-size: 10px;
	text-align: center;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.0);
	display: block;
	background: #1879b7;
	color: rgba(153, 215, 255, 1);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-red.highlight label {
	color: rgba(111, 12, 10, 1);
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.48);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-red label {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	padding: 6px 0px;
	margin: 4px;
	font-size: 10px;
	text-align: center;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.0);
	display: block;
	background: #d0302e;
	color: rgba(111, 12, 10, 1);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-purple.highlight label {
	color: rgba(91, 11, 111, 1);
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.48);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-purple label {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	padding: 6px 0px;
	margin: 4px;
	font-size: 10px;
	text-align: center;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.0);
	display: block;
	background: #bb51d6;
	color: rgba(91, 11, 111, 1);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-orange.highlight label {
	color: rgba(128, 78, 7, 1);
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.48);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-orange label {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	padding: 6px 0px;
	margin: 4px;
	font-size: 10px;
	text-align: center;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.0);
	display: block;
	background: #faa122;
	color: rgba(128, 78, 7, 1);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-green.highlight label {
	color: rgba(28, 108, 18, 1);
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.48);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-green label {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	padding: 6px 0px;
	margin: 4px;
	font-size: 10px;
	text-align: center;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.0);
	display: block;
	background: #6abf60;
	color: rgba(28, 108, 18, 1);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-brown.highlight label {
	color: rgba(202, 136, 103, 1);
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.48);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-brown label {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	padding: 6px 0px;
	margin: 4px;
	font-size: 10px;
	text-align: center;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.0);
	display: block;
	background: #7d4022;
	color: rgba(202, 136, 103, 1);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-black.highlight label {
	color: rgba(153, 153, 150, 1);
	box-shadow: inset 0px 8px 16px -5px rgba(255, 255, 255, 0.74);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-black label {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	padding: 6px 0px;
	margin: 4px;
	font-size: 10px;
	text-align: center;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.0);
	display: block;
	background: #000;
	color: rgba(153, 153, 150, 1);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-white.highlight label {
	color: rgba(140, 140, 140, 1);
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.48);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-white label {
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	border: 1px solid #CFCFCF;
	padding: 6px 0px;
	margin: 4px;
	font-size: 10px;
	text-align: center;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.0);
	display: block;
	background: #fff;
	color: rgba(140, 140, 140, 1);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-chameleon.highlight label {
	color: rgba(91, 100, 73, 1);
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.48);
}
.page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value .form-item-edit-field-diamond-fancy-color-value-chameleon label {
	border-radius: 3px;
	padding: 8px 0px;
	margin: 4px;
	font-size: 8px;
	text-align: center;
	transition: box-shadow .25s ease-in-out;
	-moz-transition: box-shadow .25s ease-in-out;
	-webkit-transition: box-shadow .25s ease-in-out;
	box-shadow: inset 0px 8px 16px -5px rgba(0, 0, 0, 0.0);
	display: block;
	background: #C0CDA6;
	color: rgba(91, 100, 73, 1);
}
/*Clarity*/



.page-m-diamond-search .form-item-clarity, .page-m-fancy-diamond-search .form-item-clarity, .page-m-diamond-search .form-item-cut, .page-m-fancy-diamond-search .form-item-cut, .page-m-diamond-search .form-item-polish, .page-m-fancy-diamond-search .form-item-polish, .page-m-diamond-search .form-item-symmetry, .page-m-fancy-diamond-search .form-item-symmetry, .page-m-diamond-search .form-item-lab, .page-m-fancy-diamond-search .form-item-lab {
	float: left;
	width: 100%;
}
/*Cut*/
.page-m-diamond-search .form-item-cut .form-type-bef-checkbox, .page-m-fancy-diamond-search .form-item-cut .form-type-bef-checkbox, .page-m-diamond-search .form-item-polish .form-type-bef-checkbox, .page-m-fancy-diamond-search .form-item-polish .form-type-bef-checkbox, .page-m-diamond-search .form-item-symmetry .form-type-bef-checkbox, .page-m-fancy-diamond-search .form-item-symmetry .form-type-bef-checkbox, .page-m-diamond-search .form-item-lab .form-type-bef-checkbox, .page-m-fancy-diamond-search .form-item-lab .form-type-bef-checkbox {
	padding: 6px 0px;
	text-align: center;
	width: 20%;
	height: 25px;
}
.page-m-diamond-search .views-widget-filter-field_diamond_weight_value input, .page-m-fancy-diamond-search .views-widget-filter-field_diamond_weight_value input {
	padding: 0 5px 0 5px;
	color: rgb(111, 111, 111);
	width: 30%;
	display: inline !important;
}
.page-m-diamond-search .views-widget-filter-field_diamond_weight_value .form-item form-type-textfield, .page-m-fancy-diamond-search .views-widget-filter-field_diamond_weight_value .form-item form-type-textfield {
	padding: 1px 1px 1px 1px;
}
.page-m-diamond-search #edit-weight-wrapper, .page-m-fancy-diamond-search #edit-weight-wrapper {
	padding: 1px 1px 1px 1px;
	display: inline !important;
	margin-top: 25px;
}
.views-widget-filter-field_diamond_weight_value label {
	display: inline !important;
}
.page-m-diamond-search .form-item-weight-min, .page-m-fancy-diamond-search .form-item-weight-min {
	display: inline;
	float: none !important;
}
.page-m-diamond-search .form-item-weight-max, .page-m-fancy-diamond-search .form-item-weight-max {
	display: inline;
	float: none !important;
}
.page-m-diamond-search .form-item-weight-max label, .page-m-fancy-diamond-search .form-item-weight-max label {
	font-size: 11px;
	color: #6B6B6B;
}
/*Stock id*/

.page-m-diamond-search .form-item-stockid .form-type-bef-checkbox, .page-m-fancy-diamond-search .form-item-stockid .form-type-bef-checkbox {
	padding: 6px 0px;
	text-align: center;
	width: 10%;
	height: 25px;
}
.page-m-diamond-search .form-item-stockid .form-type-bef-checkbox label, .page-m-fancy-diamond-search .form-item-stockid .form-type-bef-checkbox label {
	background: #CBCBCB;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 3px;
	padding: 6px 0px;
	margin: 4px;
	font-size: 11px;
	text-align: center;
	border: 1px solid rgba(189, 189, 189, 0.99);
	transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-webkit-transition: color .25s ease-in-out;
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
	display: bloc
}
.page-m-diamond-search .form-item-stockid .form-type-bef-checkbox.highlight label, .page-m-fancy-diamond-search .form-item-stockid .form-type-bef-checkbox.highlight label {
	color: #FFFFFF;
	background: #9B988E;
}
.page-m-diamond-search .form-item-stockid, .page-m-fancy-diamond-search .form-item-stockid {
	float: left;
	width: 100%;
}
/*feed icon*/
.page-m-diamond-search .feed-icon img, .page-m-fancy-diamond-search .feed-icon img {
	margin: 5px 0 20px 0;
}
 .page-m-fancy-diamond-search .views-submit-button #edit-submit-fancy-diamonds, .page-m-diamond-search .views-submit-button #edit-submit-diamond-search, {
padding: 0 10px 0 10px;
font-size: 12px;
height: 40px;
margin-top: 0px;
margin: 0 10px 0 0;
}
.page-m-diamond-search .views-submit-button #edit-submit-diamond-search.highlight, .page-m-fancy-diamond-search .views-submit-button #edit-submit-diamond-search.highlight {
	background: #679FD8
}
.views-submit-button #edit-submit-jewelry-showcase {
	margin: 0;
	display: block;
	width: 120px;
	height: 40px;
	font-size: 12px;
}
.views-submit-button #edit-submit-jewelry-showcase.highlight {
	background: #679FD8
}
.views-reset-button #edit-reset {
	margin: 0;
	background: #9CA2A8;
	display: block;
	height: 40px;
	padding: 0 10px 0 10px;
	font-size: 12px;
	width: 130px;
}
.view-jewelry-showcase .views-reset-button #edit-reset {
	width: 120px;
}
.views-reset-button #edit-reset:hover, .page-cart #views-form-commerce-cart-form-default .commerce-line-item-actions input#edit-submit:hover {
	background: #7B7E81
}
.views-reset-button #edit-reset.highlight {
	background: #7B7E81
}
.cols-15 {
	margin-top: 40px;
}
.view-jewelry-showcase .view-content {
	margin-top: 10px;
}
.view-jewelry-showcase .views-row {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 3px solid rgba(1, 99, 160, 1);
	text-align: center;
}
.view-jewelry-showcase .views-row .views-field-title a {
	color: #0062A0;
	display: block;
	margin-top: 12px;
}
.view-jewelry-showcase .views-row .views-field-commerce-price {
	color: #7E7E7E;
	margin-top: 20px;
}
.view-jewelry-showcase .views-row img {
	border: 1px solid #D0D0D0;
}
.pager {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.pager a {
	color: 6C6C6C;
}
.view-id-jewelry_showcase .view-header a {
	display: none;
}
.page-user form#user-login #user_login_form, .page-checkout form#user-login #user_login_form {
	border-bottom: 1px solid #D3D3D3;
}
.zone-content-wrapper .zone-content {
	padding-top: 20px;
}
.page-m-diamond-search .back-to-login, .page-m-fancy-diamond-search .back-to-login {
	background: #ADB0B3;
	border: 1px solid #818181;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	cursor: pointer;
	padding: 0;
	border-radius: 3px;
}
.page-user a.login-account, .page-checkout a.login-account {
	font-size: 12px;
	padding: 1px 15px;
	font-weight: 700;
}
.left-info-wrapper .field-name-title-field {
	color: #0062A0;
}
.diamond-info .field-name-title-field, .diamond-info h2 {
	color: #0062A0;
	font-size: 22px;
	font-weight: 600;
}
.diamond-info p {
	color: #6f6f6f;
}
.add-to-cart .field-name-commerce-price {
	color: #7E7E7E;
	font-size: 18px;
	padding-bottom: 15px;
	text-align: center;
}
.field-label-inline .field-label, .field-label-inline .field-items {
	float: none;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart {
	text-align: center;
}
.node-product-type .field-type-commerce-product-reference {
	margin-bottom: 0px;
	padding-bottom: 22px;
	border-bottom: 1px solid #EEF3F7;
	background: rgb(252, 252, 252);
}
.commerce-add-to-cart a:hover, .node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit:hover {
	background-color: #578CC2
}
.print-back-links {
	margin-bottom: 10px;
}
.ui-widget .ui-widget-header {
	font-size: 13px;
}
.ui-tabs .ui-tabs-panel {
	font-size: 12px;
}
.ui-tabs .diam-details-row .label {
	font-weight: 600;
}
.ui-tabs .diam-details-row .value {
	color: #353535;
}
#collapsed-menu-button {
	opacity: 0;
}
/*PPC & Total price*/

.page-m-fancy-diamond-search .form-item-price-min {
	display: inline;
	float: none !important;
}
.page-m-fancy-diamond-search .form-item-price-max {
	display: inline;
	float: none !important;
}
.page-m-fancy-diamond-search .form-item-price-max label {
	display: inline;
	float: none !important;
	font-size: 11px;
	color: #6B6B6B;
}
.page-m-fancy-diamond-search .form-item-price-min label {
	font-size: 11px;
	color: #6B6B6B;
}
.page-m-fancy-diamond-search .form-item-price-min input {
	width: 30%;
	padding: 0 5px 0 5px;
	color: rgb(111, 111, 111);
}
.page-m-fancy-diamond-search .form-item-price-max input {
	width: 30%;
	padding: 0 5px 0 5px;
	color: rgb(111, 111, 111);
}
.context-jewelry-showcase .form-item-commerce-price-amount-min {
	display: inline;
	float: none !important;
}
.context-jewelry-showcase .form-item-commerce-price-amount-max {
	display: inline;
	float: none !important;
	margin: 0 5px 0 8px;
}
.context-jewelry-showcase .form-item-commerce-price-amount-max label {
	display: inline;
	float: none !important;
	font-size: 11px;
	color: #6B6B6B;
}
.context-jewelry-showcase .form-item-commerce-price-amount-min label {
	font-size: 11px;
	color: #6B6B6B;
}
.context-jewelry-showcase .form-item-commerce-price-amount-min input {
	width: 30%;
	color: rgb(111, 111, 111);
}
.context-jewelry-showcase .form-item-commerce-price-amount-max input {
	width: 30%;
	color: rgb(111, 111, 111);
	float: left;
}
.context-jewelry-showcase #price-slider {
	display: none;
}
.context-jewelry-showcase .views-widget-filter-commerce_price_amount {
	border-bottom: 1px solid #C2CFD8;
	padding-bottom: 15px;
	margin-bottom: 7px;
}
.page-m-diamond-search .form-item-ppc-min {
	display: inline;
	float: none !important;
}
.page-m-diamond-search .form-item-ppc-max {
	display: inline;
	float: none !important;
}
.page-m-diamond-search .form-item-ppc-min input {
	width: 30%;
	padding: 0 5px 0 5px;
	color: rgb(111, 111, 111);
}
.page-m-diamond-search .form-item-ppc-max input {
	width: 30%;
	padding: 0 5px 0 5px;
	color: rgb(111, 111, 111);
}
.page-m-diamond-search .form-item-ppc-max label {
	font-size: 11px;
	color: #6B6B6B;
}
.page-m-diamond-search .form-item-ppc-max label {
	display: inline;
}
/*Stock ID*/
.page-m-diamond-search .form-item-stockid input, .page-m-fancy-diamond-search .form-item-stockid input {
	width: 60%;
	padding: 0 5px 0 5px;
	color: rgb(111, 111, 111);
}
.page-m-diamond-search .views-widget-filter-title_field_value, .page-m-fancy-diamond-search .views-widget-filter-title_field_value {
	border-bottom: 1px dotted #C2C2C2;
	margin-bottom: 20px;
	padding: 0px 0 20px 0px !important;
}
.page-m-diamond-search .views-submit-button, .page-m-fancy-diamond-search .views-submit-button {
	width: 20px !important;
	padding: 0px 10px 2px 5px !important;
	float: none !important;
	display: inline !important;
}
.page-m-diamond-search .views-reset-button, .page-m-fancy-diamond-search .views-reset-button {
	width: 20px !important;
	float: none !important;
	display: inline !important;
	padding: 0 !important;
}
.node-page .field-item {
	text-align: center;
}
.page-m-diamond-search .form-item-shape, .page-m-fancy-diamond-search .form-item-shape, .page-m-diamond-search .form-item-color, .page-m-diamond-search .form-item-clarity, .page-m-diamond-search .form-item-cut, .page-m-diamond-search .form-item-polish, .page-m-diamond-search .form-item-symmetry, .page-m-diamond-search .form-item-lab, .page-m-diamond-search .form-item-shape, .page-m-fancy-diamond-search .form-item-shape, .page-m-fancy-diamond-search .form-item-color, .page-m-fancy-diamond-search .form-item-clarity, .page-m-fancy-diamond-search .form-item-cut, .page-m-fancy-diamond-search .form-item-polish, .page-m-fancy-diamond-search .form-item-symmetry, .page-m-fancy-diamond-search .form-item-lab, .page-m-fancy-diamond-search .form-item-field-diamond-fancy-color-value {
	border-bottom: 1px solid #C2CFD8;
	padding-bottom: 15px;
}
/*********Product DIAMONDS*********/

.context-diamonds .zone-content-wrapper .zone-content {
	margin-bottom: 20px;
	padding-top: 20px;
}
.context-diamonds .diamond-info {
	text-align: center
}
.context-diamonds .cloud-zoom-gallery-thumbs {
	display: none;
}
.context-diamonds .print-back-links {
	text-align: center;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart {
	padding-top: 20px;
	border-top: 1px solid #EEF3F7;
	background: none;
}
.context-diamonds #tabs-zoom {
	background: rgba(255, 255, 255, 0) !important;
}
.context-diamonds .ui-tabs-anchor {
	background: rgba(255, 255, 255, 0) !important;
}
.context-diamonds .left-info-wrapper .field-name-title-field {
	text-align: center;
}
/*	********Product JEWL*********/
	
	
.context-jewelry .zone-content-wrapper .zone-content {
	padding-top: 20px;
}
.context-jewelry .diamond-info {
	text-align: center;
}
.context-jewelry .cloud-zoom-gallery-thumbs {
	display: none;
}
.context-jewelry .print-back-links {
	text-align: center;
	border-bottom: 1px solid #EEF3F7;
}
.context-jewelry #tabs-zoom {
	background: rgba(255, 255, 255, 0) !important;
}
.context-jewelry .ui-tabs-anchor {
	background: rgba(255, 255, 255, 0) !important;
}
.context-jewelry .left-info-wrapper .field-name-title-field {
	text-align: center;
}
#usermenu {
	display: -webkit-inline-box;
	position: fixed;
	top: 2px;
	right: 10px;
}
#views_slideshow_controls_text_pause_slideshow-block {
	display: none;
}
#views_slideshow_controls_text_next_slideshow-block {
	display: none;
}
#views_slideshow_controls_text_previous_slideshow-block {
	display: none;
}
.page-m-diamond-search .section-header, .page-jewelry-showcase .section-header, .context-diamonds .section-header, .page-m-fancy-diamond-search .section-header, .context-jewelry-showcase .section-header, .context-jewelry .section-header, .page-user .section-header, .context-cart .section-header {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000000;
}
.zone-content-wrapper .zone-content {
}
.views-exposed-form label {
	font-weight: 300;
	padding-bottom: 5px;
}
.view-header {
	color: #6c6c6c;
}
.page-node-472 .zone-content-wrapper .zone-content, .page-node-2096 .zone-content-wrapper .zone-content, .page-node-2097 .zone-content-wrapper .zone-content, .page-node-479 .zone-content-wrapper .zone-content, .page-node-175 .zone-content-wrapper .zone-content {
	background-color: rgba(236, 236, 236, 0);
}
.form-item-captcha-response {
	color: #7B7B7B;
}
.page-m-diamond-search .view-fancy-diamonds .views-exposed-widgets, .page-m-fancy-diamond-search .context-m-diamond-search .views-exposed-widgets {
	border-bottom: 1px dotted #C2C2C2;
	padding-bottom: 20px;
}
#user_login_form h1, .page-user .create-account h2, #user_register_form h1 {
	font-size: 22px !important;
}
li.menuparent li.first {
	border-top: 4px solid #D0D0D0;
}
li.menuparent li.first:hover {
	border-top: 4px solid #D0D0D0;
}
.zone-user-wrapper {
	background-color: #1D1D1D;
	height: 27px;
	padding-top: 2px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
#region-user-first {
	float: none;
}
.page-m-diamond-search .commerce-add-to-cart .add-to-wishlist, .page-m-fancy-diamond-search .commerce-add-to-cart .add-to-wishlist {
	color: #578CC2;
	font-size: 10px;
	transition: background-color .25s ease-in-out;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	background: none;
	border: none;
	padding: 0 0 0 0;
}
.page-m-diamond-search .commerce-add-to-cart .form-submit, .page-m-fancy-diamond-search .commerce-add-to-cart .form-submit {
	font-size: 12px;
	padding: 0 5px 0 5px;
	margin: 0 0 0 0;
	width: 78px !important;
}
.page-m-diamond-search .commerce-add-to-cart, .page-m-fancy-diamond-search .commerce-add-to-cart {
	width: 80px;
}
.company-details a {
	color: #C7C5C5;
	transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-webkit-transition: color .25s ease-in-out;
}
.company-details a:hover {
	color: #FFF;
}
.zone-content-wrapper {
	border-bottom: 1px solid rgba(211, 211, 211, 1) !important;
}
#block-block-7 {
	padding: 30px 0 30px 0;
	font-size: 18px;
	color: #ffffff;
	text-shadow: 0.5px 1px 1px #000000;
}
.front #zone-preface-wrapper {
	display: none
}
.page-node-463 .view-modes-compare .views-submit-button {
	display: none;
}
.page-node-463 .views-widget-filter-sell_price .views-widget label, .page-node-463 .views-widget-filter-field_wd_weight_value .views-widget label {
	display: none;
}
.page-node-463 #zone-menu-wrapper {
	display: none;
}
.page-node-463 .print-mail img, .print-page img {
	display: none;
}
.page-node-463 .context-parcels .field-name-title-field {
	display: none;
}
.page-node-463 #footer {
	display: none;
}
.page-node-463 #closure-blocks {
	display: none;
}
.prodemo a {
	width: 224px;
	background: url(../images/pdemo.jpg) no-repeat 240px 7px #1FBCCD;
	margin-top: 20px;
	-moz-border-radius: 6px;
	border-radius: 3px;
	padding: 15px 55px 16px 20px;
	text-align: left;
	box-shadow: 0 2px 0px 0 rgba(20, 130, 142, 1);
	display: inline-block;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	color: #FFF !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
	font-size: 14px;
}
.jewdemo a {
	margin-top: 20px;
	background: url(../images/jdemo.jpg) no-repeat 236px 7px #0474B4;
	-moz-border-radius: 6px;
	border-radius: 3px;
	padding: 15px 89px 16px 20px;
	text-align: left;
	box-shadow: 0 2px 0px 0 rgba(40, 87, 113, 1);
	display: inline-block;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	color: #FFF !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
	font-size: 14px;
}
.page-checkout .checkout-buttons input#edit-continue, .page-checkout .checkout-buttons input.checkout-continue {
	margin: 0 0 0 0px!important;
	max-width: 145px;
	overflow: hidden;
	float: right;
	width: 145px;
	height: 35px;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	background: #68A6E4;
	border: none;
}
.prodemo a:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.jewdemo a:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.page-node-463 .hb {
	text-align: center;
}
.rtecenter {
	color: #ffffff;
	font-size: 18px;
	font-weight: 600;
	text-shadow: 0.5px 1px 1px #000000;
	margin: 0 25px 0 25px;
}
.page-node-463 form {
	font-size: 12px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	/* padding-left: 35px; */
	border-top: 1px solid rgba(255, 255, 255, 0.15);
	margin: 30px 15px 10px 15px;
}
#webform-client-form-463 .form-item label {
	float: left;
	margin-top: 6px;
	font-size: 14px;
	margin-right: 12px;
	font-weight: 100;
	text-transform: capitalize;
	text-align: right;
	color: rgba(255, 255, 255, 0.95);
	font-family: "Open Sans", sans-serif !important;
	text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.68);
}
.page-node-175 .form-item input {
	padding: 5px 0px 5px 0px !important;
}
#webform-client-form-463 .form-item input {
	font-weight: 100;
	font-size: 13px;
	padding: 5px 0px 5px 0px !important;
	-webkit-appearance: none;
	border-radius: 2px;
	color: rgba(224, 224, 224, 1);
	background-color: rgba(255, 255, 255, 0.11);
	border: 1px solid rgba(255, 255, 255, 0.12) !important;
	-webkit-appearance: none;
	width: 100%;
}
#webform-client-form-463 #edit-submit {
	font-family: "Open Sans", sans-serif;
	padding: 6px 30px 6px 30px;
	background: #2B5E73;
	border: 0;
	color: #ffffff;
	border-radius: 3px;
	font-size: 14px;
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
	box-shadow: 0 2px 0px 0 rgba(33, 79, 98, 1);
	margin: 10px 0 10px 0;
	-webkit-appearance: none;
	width: 100%;
	height: 38px;
}
#nice-menu-2, #nice-menu-4 {
	float: right;
	margin-top: 13px;
	margin-bottom: 13px;/* font-size: 14px; */
/* background: white; */
}
#logo {
	max-width: none;
	width: 70% !important;
	height: auto !important;
	margin-top: 12px !important;
	margin-bottom: 12px;
}
#zone-header {
	position: fixed;
	z-index: 555;
	background: rgba(255, 255, 255, 0.94);
	width: 100%;
	top: 0;
	border-bottom: 1px dotted rgba(21, 57, 94, 0.41);
}
#section-content {
	margin-top: 75px;
}
.page-node-463 #section-content {
	margin-top: 158px;
}
#usermenu {
	margin-left: 0px;
}
.zone-header .block-5 .content p {
	margin-bottom: 0px;
}
#footer p {
	color: #333;
}
.webform-client-form label {
	color: #6C6C6C;
}
a:link, a:visited {
	color: #2E8AE5;
}
a:hover {
	color: #3971A9;
}
#footer {
	display: none;
}
.view-footer-links, #block-menu-secondary-links {
	display: none;
}
.region-closure #block-block-5 {
	background: #011425;
	padding: 20px 10px 20px 10px;
}
.region-closure .closure-wrapper #block-block-5 p {
	color: #798C94;
	margin-bottom: 0;
	text-align: center;
	font-size: 12px;
}
label {
	font-weight: 600;
	font-size: 12px;
}
h1#page-title {
	font-size: 27px;
	color: #0099FF;
	font-weight: 100;
}
.page-m-diamond-search form, .page-m-fancy-diamond-search form {
	margin: 0px 0px 20px 0px;
}
.page-m-diamond-search .views-field-nothing, .page-m-fancy-diamond-search .views-field-nothing {
	font-size: 11px;
}
.cols-12 {
	border: 1px solid #fff;
}
.cols-12 thead tr {
	background: #6CA7DF;
	border-bottom: 2px solid #FFF;
}
.cols-12 tbody .odd {
	background: #FAFAFA;
	border-bottom: 1px solid #FFF;
	padding: 0;
}
.cols-12 tbody .even {
	background: #E3ECF5;
	border-bottom: 1px solid #FFF;
	padding: 0;
}
table thead th {
	font-weight: 600;
	color: white;
}
.cols-12 thead a {
	color: #FFF;
	text-decoration: underline;
}
.cols-12 tbody td {
	color: rgb(91, 109, 126);
}
.block-menu-build-jewelry .active-trail, .view-jewelry-build p {
	color: #6c6c6c;
}
.view-empty {
	margin-top: 20px;
}
.view-empty p {
	color: #6C6C6C;
}
#region-breadcrumb {
	text-align: center;
}
.block-menu-menu-build-jewelry li {
	text-align: center;
	list-style-image: none !important;
	list-style-type: none !important;
	padding: 0;
}
.block-menu-menu-build-jewelry .active {
	color: #a90329;
	font-size: 17px;
	font-weight: 600;
}
.block-menu-menu-build-jewelry a {
	color: #BB6770;
}
.block-menu-menu-build-jewelry {
	border: 1px solid #a90329;
	border-radius: 3px;/*padding: 14px;*/
}
.block-menu-menu-build-jewelry ul.menu li {
	margin: 5px;
	font-size: 14px;
	background: rgba(255, 255, 255, 0) url(../images/red_arrow.png) 295px 4px no-repeat;
	background-size: 16px;
}
.block-menu-menu-build-jewelry h2.block-title {
	font-size: 19px;
	color: #FFFFFF;
	background: #a90329;
	padding: 7px;
}
.add-to-ring {
	text-align: center;
}
.commerce-add-to-cart .add-to-wishlist, .commerce-add-to-cart .form-submit, .add-to-ring a {
	color: white;
	border-radius: 3px !important;
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 9px 0;
	font-size: 12px;
	width: 170px;
	display: inline-block;
}
.commerce-add-to-cart .add-to-wishlist {
	background: url("../images/wishlist-icon.png") 138px 11px no-repeat #68A6E4;
}
.commerce-add-to-cart .form-submit {
	background: url("../images/cart-icon.png") 134px 10px no-repeat #3172b5;
}
.add-to-ring a {
	background: url("../images/ring-icon.png")140px 9px no-repeat #6292c4;
}
/*	
	      background-color: #77B2EE;
      background-image: url("../images/bg_add_to_cart.png");
      background-position: 90% 50%;*/
	  
	  
	  
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart label {
	font-weight: 400;
	white-space: nowrap;
	color: #7E7E7E;
	margin-bottom: 5px;
}
 .page-node .flag-wrapper:hover, .field-name-field-product input[type="submit"]:hover, #commerce-cart-add-to-cart-form-188 input[type="submit"]:hover, #add-wishlist-188:hover, .context-jewelry .field-type-commerce-product-reference form.commerce-add-to-cart .add-to-wishlist:hover, .context-jewelry .field-type-commerce-product-reference form.commerce-add-to-cart input#edit-submit:hover, .context-parcels .field-type-commerce-product-reference form.commerce-add-to-cart input#edit-submit:hover, .node-type-diamond .field-type-commerce-product-reference form.commerce-add-to-cart .add-to-wishlist:hover, .node-type-diamond .field-type-commerce-product-reference form.commerce-add-to-cart input#edit-submit:hover, .context-parcels .field-type-commerce-product-reference form.commerce-add-to-cart .add-to-wishlist:hover, {
 color: #717171;
 background-color: #DADADA;
 outline: none;
}
.addthis, .enquire, .back-to-search, .print-mail, .print-page {
	display: inline!important;
}
.back-to-search a {
	background: url("../images/back-icon.png") 2px 2px no-repeat;
	display: inline-block !important;
	background-size: 40px 40px;
	width: 50px;
	height: 50px;
	font-size: 0px;
	color: #000;
	opacity: 0.5;
}
.node-product-type .print_mail a {
	background: url("../images/email_icon2.png") no-repeat;
	display: inline-block !important;
	background-size: 40px 40px;
	width: 50px;
	height: 50px;
	font-size: 0px;
	opacity: 0.5;
}
.node-product-type .enquire a {
	background: url("../images/enqire.png") no-repeat;
	display: inline-block !important;
	background-size: 40px 40px;
	width: 50px;
	height: 50px;
	font-size: 0px;
	opacity: 0.5;
}
.print_html, .print_mail, .print_pdf, .print_epub {
	margin-left: 0;
}
.node-product-type .enquire a:hover, .node-product-type .print_mail a:hover, .back-to-search a:hover, .node-product-type .print_html a:hover {
	opacity: 0.8;
}
.node-product-type .print_mail img {
	display: none;
}
.node-product-type .print_html {
	font-size: 0px;
}
.page-node-463 #mainwrapper {
	background: url(../images/main_image.jpg) no-repeat center 136px fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.addthis, .addthis * {
	vertical-align: top;
}
.page-m-diamond-search #edit-submit-diamond-search, .page-m-fancy-diamond-search #edit-submit-fancy-diamonds, #edit-submit-parcels {
	display: block;
	height: 40px;
	padding: 0 10px 0 10px;
	font-size: 12px;
	margin-right: 10px;
	margin-top: 0;
	width: 130px;
}
.page-printmail-453 input[type="text"], .page-node-190 input[type="text"] {
	padding: 5px 0 5px 0 !important;
}
.front #logo {
	max-width: none;
	width: 95% !important;
	height: auto !important;
	margin-top: 26px !important;
	margin-bottom: 12px;
}
.page-parcels .views-exposed-form .form-item, .page-parcels .views-exposed-form .form-submit {
	margin-top: 10px;
	margin-bottom: 0;
}
.page-parcels tr.even, .page-parcels tr.odd {
	background-color: #eee;
	border-bottom: 1px solid #FFF;
	padding: 0.1em 0.6em;
}
.page-parcels thead {
	background: #E2E9EF;
}
table thead th {
	font-weight: 600;
	color: rgb(92, 92, 92);
}
.node-type-parcel .print-back-links {
	text-align: center;
}
.page-parcels .view-content, .page-build-your-own-jewelry .view-content {
	overflow: auto;
}
.context-parcels .right-info-wrapper .diamond-info p {
	font-size: 16px;
}
.page-build-your-own-jewelry .add-to-wishlist, .page-build-your-own-jewelry .form-submit {
	text-align: center;
}
.page-cart #views-form-commerce-cart-form-default .views-field-edit-delete input.delete-line-item {
	background: #3172b5;
	border: none transparent;
	border-bottom: 0 solid #888;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
	color: #ffffff;
	font-weight: normal;
	padding: 5px 9px;
	border-radius: 3px;
}
#views-form-commerce-cart-form-default table td, #commerce-checkout-form-checkout .view-commerce-cart-summary table td, #commerce-checkout-form-review .view-commerce-cart-summary table td, .page-user-orders .view-commerce-line-item-table table td, .view-commerce-backoffice-user-orders table td {
	background-color: transparent;
	border: 1px solid #CCC;
	margin: 0;
	padding: 5px 10px;
}
#views-form-commerce-cart-form-default table th, #commerce-checkout-form-checkout .view-commerce-cart-summary table th, #commerce-checkout-form-review .view-commerce-cart-summary table th, .page-user-orders .view-commerce-line-item-table table th, .view-commerce-backoffice-user-orders table th {
	color: #222222;
	font-size: 13px;
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-transform: uppercase;
}
.page-cart #views-form-commerce-cart-form-default tbody .odd {
	font-size: 11px;
}
.page-cart #views-form-commerce-cart-form-default tbody .views-field-commerce-unit-price {
	color: rgb(49, 114, 181);
}
.field-name-commerce-order-total .field-items {
	background-color: transparent;
}
.checkout-buttons .button-operator {
	display: none;
}
ul.inline.commerce-checkout-progress li, ol.inline.commerce-checkout-progress li {
	font-size: 16px;
	line-height: 20px;
	padding: 5px 15px;
	position: relative;
	outline: 1px solid #3172b5;
	width: auto;
	margin: 0 0 0 1px;
	color: #3172b5;
	cursor: default;
	box-sizing: border-box;
	letter-spacing: 1px;
	width: 100%;
	margin-top: 10px;
	text-align: center;
}
.page-checkout #edit-account-login-mail {
	max-width: 70%;
}
