@charset "utf-8";

/* CSS Document */

.page-admin-commerce-store-discounts-manage #edit-commerce-discount-fields-inline-conditions , .page-admin-commerce-store-discounts-manage .form-item-commerce-discount-type ,

.page-admin-commerce-store-discounts-manage .form-item-component-title , .page-admin-commerce-store-discounts-manage .form-item-status , 

.page-admin-commerce-store-discounts-manage .form-item-label{

	display:none;

}

.page-admin-commerce-store-discounts #region-content{

	display:none;

}

.page-admin-commerce-store-discounts-manage #region-content{

	display:inherit;

}
#edit-commerce-discount-fields-commerce-discount-date{
	display:none;
}