
/* DASHBOARD */
@media only screen
and (max-width : 1250px) {
    .dashboardleft { width: 100%; float: none}
    .dashboardcenter {width: 100%; float: none}
    .dashboardright {width: 100%; float: none}
    #block-views-charts-block-2 {width: 100%;}
    #block-views-charts-block-3 {width: 100%;}
}
@media only screen
and (max-width : 1700px) {
    .view-user-activities .views-row { width: 28.8%;float: left;padding: 6px;margin: 1px 1px 3px 4px; }
}
@media only screen
and (max-width : 1500px) {
    .view-user-activities .views-row {
        width: 47.8%;
    }
    .view-user-activities .views-row {
        width: 47.8%%;
    }
    #block-views-charts-block-2 {width: 100%;}
    #block-views-charts-block-3 {width: 100%;}

}


